In [2]:
import os
import polars as pl

dtypes = {
    'customer_id': str,
    'gender_cd': str,
    'postal_cd': str,
    'application_store_cd': str,
    'status_cd': str,
    'category_major_cd': str,
    'category_medium_cd': str,
    'category_small_cd': str,
    'product_cd': str,
    'store_cd': str,
    'prefecture_cd': str,
    'tel_no': str,
    'postal_cd': str,
    'street': str,
    'application_date': str,
    'birth_day': pl.Date
}

df_customer = pl.read_csv("../data/customer.csv", dtypes=dtypes)
df_category = pl.read_csv("../data/category.csv", dtypes=dtypes)
df_product = pl.read_csv("../data/product.csv", dtypes=dtypes)
df_receipt = pl.read_csv("../data/receipt.csv", dtypes=dtypes)
df_store = pl.read_csv("../data/store.csv", dtypes=dtypes)
df_geocode = pl.read_csv("../data/geocode.csv", dtypes=dtypes)

##  P001

In [3]:
df_receipt.head(10)

shape: (10, 9)
┌───────────┬───────────┬──────────┬──────────┬─────┬───────────┬──────────────┬──────────┬────────┐
│ sales_ymd ┆ sales_epo ┆ store_cd ┆ receipt_ ┆ ... ┆ customer_ ┆ product_cd   ┆ quantity ┆ amount │
│ ---       ┆ ch        ┆ ---      ┆ no       ┆     ┆ id        ┆ ---          ┆ ---      ┆ ---    │
│ i64       ┆ ---       ┆ str      ┆ ---      ┆     ┆ ---       ┆ str          ┆ i64      ┆ i64    │
│           ┆ i64       ┆          ┆ i64      ┆     ┆ str       ┆              ┆          ┆        │
╞═══════════╪═══════════╪══════════╪══════════╪═════╪═══════════╪══════════════╪══════════╪════════╡
│ 20181103  ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ CS0062140 ┆ P070305012   ┆ 1        ┆ 158    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00001     ┆              ┆          ┆        │
│ 20181118  ┆ 154249920 ┆ S13008   ┆ 1132     ┆ ... ┆ CS0084150 ┆ P070701017   ┆ 1        ┆ 81     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00097     ┆              ┆          ┆        │
│ 20170712  ┆ 149981760 ┆ S14028   ┆ 1102     ┆ ... ┆ CS0284140 ┆ P060101005   ┆ 1        ┆ 170    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00014     ┆              ┆          ┆        │
│ 20190205  ┆ 154932480 ┆ S14042   ┆ 1132     ┆ ... ┆ ZZ0000000 ┆ P050301001   ┆ 1        ┆ 25     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00000     ┆              ┆          ┆        │
│ ...       ┆ ...       ┆ ...      ┆ ...      ┆ ... ┆ ...       ┆ ...          ┆ ...      ┆ ...    │
│ 20181205  ┆ 154396800 ┆ S14024   ┆ 1102     ┆ ... ┆ CS0245140 ┆ P080101005   ┆ 1        ┆ 30     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00042     ┆              ┆          ┆        │
│ 20190922  ┆ 156911040 ┆ S14040   ┆ 1102     ┆ ... ┆ CS0404150 ┆ P070501004   ┆ 1        ┆ 128    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00178     ┆              ┆          ┆        │
│ 20170504  ┆ 149385600 ┆ S13020   ┆ 1112     ┆ ... ┆ ZZ0000000 ┆ P071302010   ┆ 1        ┆ 770    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00000     ┆              ┆          ┆        │
│ 20191010  ┆ 157066560 ┆ S14027   ┆ 1102     ┆ ... ┆ CS0275140 ┆ P071101003   ┆ 1        ┆ 680    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00015     ┆              ┆          ┆        │
└───────────┴───────────┴──────────┴──────────┴─────┴───────────┴──────────────┴──────────┴────────┘

## 002

In [5]:
df_receipt.select(["sales_ymd", "customer_id", "product_cd", "amount"]).head(10)

shape: (10, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20181103  ┆ CS006214000001 ┆ P070305012 ┆ 158    │
│ 20181118  ┆ CS008415000097 ┆ P070701017 ┆ 81     │
│ 20170712  ┆ CS028414000014 ┆ P060101005 ┆ 170    │
│ 20190205  ┆ ZZ000000000000 ┆ P050301001 ┆ 25     │
│ ...       ┆ ...            ┆ ...        ┆ ...    │
│ 20181205  ┆ CS024514000042 ┆ P080101005 ┆ 30     │
│ 20190922  ┆ CS040415000178 ┆ P070501004 ┆ 128    │
│ 20170504  ┆ ZZ000000000000 ┆ P071302010 ┆ 770    │
│ 20191010  ┆ CS027514000015 ┆ P071101003 ┆ 680    │
└───────────┴────────────────┴────────────┴────────┘

## 003

In [11]:
df_receipt.select([pl.col("sales_ymd").alias("sales_ymdsales_date"), "customer_id", "product_cd", "amount"]).head(10)

shape: (10, 4)
┌─────────────────────┬────────────────┬────────────┬────────┐
│ sales_ymdsales_date ┆ customer_id    ┆ product_cd ┆ amount │
│ ---                 ┆ ---            ┆ ---        ┆ ---    │
│ i64                 ┆ str            ┆ str        ┆ i64    │
╞═════════════════════╪════════════════╪════════════╪════════╡
│ 20181103            ┆ CS006214000001 ┆ P070305012 ┆ 158    │
│ 20181118            ┆ CS008415000097 ┆ P070701017 ┆ 81     │
│ 20170712            ┆ CS028414000014 ┆ P060101005 ┆ 170    │
│ 20190205            ┆ ZZ000000000000 ┆ P050301001 ┆ 25     │
│ ...                 ┆ ...            ┆ ...        ┆ ...    │
│ 20181205            ┆ CS024514000042 ┆ P080101005 ┆ 30     │
│ 20190922            ┆ CS040415000178 ┆ P070501004 ┆ 128    │
│ 20170504            ┆ ZZ000000000000 ┆ P071302010 ┆ 770    │
│ 20191010            ┆ CS027514000015 ┆ P071101003 ┆ 680    │
└─────────────────────┴────────────────┴────────────┴────────┘

## 004

In [12]:
df_receipt.filter(pl.col("customer_id") == "CS018205000001").select(["sales_ymd", "customer_id", "product_cd", "amount"]).head(10)

shape: (10, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 990    │
│ 20170614  ┆ CS018205000001 ┆ P060702015 ┆ 108    │
│ ...       ┆ ...            ┆ ...        ┆ ...    │
│ 20190226  ┆ CS018205000001 ┆ P070902035 ┆ 168    │
│ 20190924  ┆ CS018205000001 ┆ P060805001 ┆ 495    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
└───────────┴────────────────┴────────────┴────────┘

## 005

In [15]:
df_receipt.filter((pl.col("customer_id") == "CS018205000001") & (pl.col("amount") > 1000)).select(["sales_ymd", "customer_id", "product_cd", "amount"]).head(10)

shape: (3, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
└───────────┴────────────────┴────────────┴────────┘

## 006

In [19]:
df_receipt.select(
    ["sales_ymd", "customer_id", "product_cd", "quantity", "amount"]
).filter(
    (pl.col("customer_id") == "CS018205000001") & (pl.col("amount") >= 1000) | (pl.col("quantity") >= 5)
)

shape: (6, 5)
┌───────────┬────────────────┬────────────┬──────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ quantity ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---      ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64      ┆ i64    │
╞═══════════╪════════════════╪════════════╪══════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 1        ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 6        ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 5        ┆ 990    │
│ 20190610  ┆ CS037414000080 ┆ P090401002 ┆ 8        ┆ 640    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 1        ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1        ┆ 1100   │
└───────────┴────────────────┴────────────┴──────────┴────────┘

## 007

In [22]:
df_receipt.select(
    ["sales_ymd", "customer_id", "product_cd", "amount"]
).filter(
    pl.col("customer_id") == "CS018205000001"
).filter(
    pl.col("amount").is_between(1000, 2000)
)

/home/work/.cache/pypoetry/virtualenvs/godaddy-3UyvmeC2-py3.9/lib/python3.9/site-packages/polars/internals/expr/expr.py:3497: FutureWarning: Default behaviour will change from excluding both bounds to including both bounds. Provide a value for the `closed` argument to silence this warning.
  warnings.warn(

shape: (1, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
└───────────┴────────────────┴────────────┴────────┘

## 008

In [23]:
df_receipt.select(
    ["sales_ymd", "customer_id", "product_cd", "amount"]
).filter(
    pl.col("customer_id") == "CS018205000001"
).filter(
        pl.col("product_cd") != "P071401019"
)

shape: (12, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 990    │
│ 20170614  ┆ CS018205000001 ┆ P060702015 ┆ 108    │
│ ...       ┆ ...            ┆ ...        ┆ ...    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
│ 20190216  ┆ CS018205000001 ┆ P040101002 ┆ 218    │
│ 20190924  ┆ CS018205000001 ┆ P091503001 ┆ 280    │
└───────────┴────────────────┴────────────┴────────┘

## 009

In [25]:
df_store.filter(
    (pl.col("prefecture_cd") == "13") & (pl.col("floor_area") > 900)
)

shape: (18, 10)
┌──────────┬──────────┬────────────┬──────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ store_cd ┆ store_na ┆ prefecture ┆ prefectu ┆ ... ┆ tel_no     ┆ longitude ┆ latitude ┆ floor_ar │
│ ---      ┆ me       ┆ _cd        ┆ re       ┆     ┆ ---        ┆ ---       ┆ ---      ┆ ea       │
│ str      ┆ ---      ┆ ---        ┆ ---      ┆     ┆ str        ┆ f64       ┆ f64      ┆ ---      │
│          ┆ str      ┆ str        ┆ str      ┆     ┆            ┆           ┆          ┆ f64      │
╞══════════╪══════════╪════════════╪══════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ S13002   ┆ 国分寺店 ┆ 13         ┆ 東京都   ┆ ... ┆ 042-123-40 ┆ 139.4802  ┆ 35.70566 ┆ 1735.0   │
│          ┆          ┆            ┆          ┆     ┆ 08         ┆           ┆          ┆          │
│ S13051   ┆ 板橋大原 ┆ 13         ┆ 東京都   ┆ ... ┆ 03-0123-40 ┆ 139.698   ┆ 35.76788 ┆ 1045.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 29         ┆           ┆          ┆          │
│ S13015   ┆ 南砂店   ┆ 13         ┆ 東京都   ┆ ... ┆ 03-0123-40 ┆ 139.8229  ┆ 35.67066 ┆ 1337.0   │
│          ┆          ┆            ┆          ┆     ┆ 14         ┆           ┆          ┆          │
│ S13044   ┆ 南六郷店 ┆ 13         ┆ 東京都   ┆ ... ┆ 03-0123-40 ┆ 139.7207  ┆ 35.54604 ┆ 1379.0   │
│          ┆          ┆            ┆          ┆     ┆ 28         ┆           ┆          ┆          │
│ ...      ┆ ...      ┆ ...        ┆ ...      ┆ ... ┆ ...        ┆ ...       ┆ ...      ┆ ...      │
│ S13039   ┆ 南荻窪店 ┆ 13         ┆ 東京都   ┆ ... ┆ 03-0123-40 ┆ 139.6152  ┆ 35.70045 ┆ 1133.0   │
│          ┆          ┆            ┆          ┆     ┆ 25         ┆           ┆          ┆          │
│ S13009   ┆ 用賀店   ┆ 13         ┆ 東京都   ┆ ... ┆ 03-0123-40 ┆ 139.6382  ┆ 35.6272  ┆ 1243.0   │
│          ┆          ┆            ┆          ┆     ┆ 13         ┆           ┆          ┆          │
│ S13005   ┆ 白鷺店   ┆ 13         ┆ 東京都   ┆ ... ┆ 03-0123-40 ┆ 139.6307  ┆ 35.72246 ┆ 1259.0   │
│          ┆          ┆            ┆          ┆     ┆ 11         ┆           ┆          ┆          │
│ S13003   ┆ 狛江店   ┆ 13         ┆ 東京都   ┆ ... ┆ 03-0123-40 ┆ 139.5668  ┆ 35.64462 ┆ 1529.0   │
│          ┆          ┆            ┆          ┆     ┆ 09         ┆           ┆          ┆          │
└──────────┴──────────┴────────────┴──────────┴─────┴────────────┴───────────┴──────────┴──────────┘

## 010

In [28]:
df_store.filter(
    pl.col("store_cd").str.starts_with("S14")
).head(10)

shape: (10, 10)
┌──────────┬──────────┬────────────┬──────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ store_cd ┆ store_na ┆ prefecture ┆ prefectu ┆ ... ┆ tel_no     ┆ longitude ┆ latitude ┆ floor_ar │
│ ---      ┆ me       ┆ _cd        ┆ re       ┆     ┆ ---        ┆ ---       ┆ ---      ┆ ea       │
│ str      ┆ ---      ┆ ---        ┆ ---      ┆     ┆ str        ┆ f64       ┆ f64      ┆ ---      │
│          ┆ str      ┆ str        ┆ str      ┆     ┆            ┆           ┆          ┆ f64      │
╞══════════╪══════════╪════════════╪══════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ S14010   ┆ 菊名店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0   │
│          ┆          ┆            ┆          ┆     ┆ 32         ┆           ┆          ┆          │
│ S14033   ┆ 阿久和店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0   │
│          ┆          ┆            ┆          ┆     ┆ 43         ┆           ┆          ┆          │
│ S14036   ┆ 相模原中 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 042-123-40 ┆ 139.3716  ┆ 35.57327 ┆ 1679.0   │
│          ┆ 央店     ┆            ┆          ┆     ┆ 45         ┆           ┆          ┆          │
│ S14040   ┆ 長津田店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4994  ┆ 35.52398 ┆ 1548.0   │
│          ┆          ┆            ┆          ┆     ┆ 46         ┆           ┆          ┆          │
│ ...      ┆ ...      ┆ ...        ┆ ...      ┆ ... ┆ ...        ┆ ...       ┆ ...      ┆ ...      │
│ S14012   ┆ 本牧和田 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6582  ┆ 35.42156 ┆ 1341.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 34         ┆           ┆          ┆          │
│ S14046   ┆ 北山田店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5916  ┆ 35.56189 ┆ 831.0    │
│          ┆          ┆            ┆          ┆     ┆ 49         ┆           ┆          ┆          │
│ S14022   ┆ 逗子店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 046-123-40 ┆ 139.5789  ┆ 35.29642 ┆ 1838.0   │
│          ┆          ┆            ┆          ┆     ┆ 36         ┆           ┆          ┆          │
│ S14011   ┆ 日吉本町 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6316  ┆ 35.54655 ┆ 890.0    │
│          ┆ 店       ┆            ┆          ┆     ┆ 33         ┆           ┆          ┆          │
└──────────┴──────────┴────────────┴──────────┴─────┴────────────┴───────────┴──────────┴──────────┘

## 11

In [31]:
df_customer.filter(
    pl.col("customer_id").str.ends_with("1")
).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0376130 ┆ 六角 雅彦  ┆ 9         ┆ 不明   ┆ ... ┆ 東京都江 ┆ S13037     ┆ 20150414   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 東区南砂 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0288110 ┆ 堀井       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20160115   ┆ 0-00000 │
│ 00001     ┆ かおり     ┆           ┆        ┆     ┆ 横浜市泉 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 区和泉町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0404120 ┆ 川井 郁恵  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14040     ┆ 20151101   ┆ 1-20091 │
│ 00191     ┆            ┆           ┆        ┆     ┆ 横浜市緑 ┆            ┆            ┆ 025-4   │
│           ┆            ┆           ┆        ┆     ┆ 区北八朔 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0283140 ┆ 小菅       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20151123   ┆ 1-20080 │
│ 00011     ┆ あおい     ┆           ┆        ┆     ┆ 横浜市瀬 ┆            ┆            ┆ 426-5   │
│           ┆            ┆           ┆        ┆     ┆ 谷区宮沢 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0047020 ┆ 野島 洋    ┆ 0         ┆ 男性   ┆ ... ┆ 東京都練 ┆ S13004     ┆ 20170218   ┆ 0-00000 │
│ 00041     ┆            ┆           ┆        ┆     ┆ 馬区向山 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0415150 ┆ 栗田 千夏  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都多 ┆ S13041     ┆ 20160422   ┆ E-20100 │
│ 00001     ┆            ┆           ┆        ┆     ┆ 摩市和田 ┆            ┆            ┆ 803-F   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0293130 ┆ 北条       ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県浦 ┆ S12029     ┆ 20180810   ┆ 0-00000 │
│ 00221     ┆ ひかり     ┆           ┆        ┆     ┆ 安市美浜 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0343120 ┆ 望月 奈央  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14034     ┆ 20160106   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 川崎市高 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 津区久末 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

## 012

In [33]:
df_store.filter(
    pl.col("address").str.contains("横浜市")
)

shape: (11, 10)
┌──────────┬──────────┬────────────┬──────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ store_cd ┆ store_na ┆ prefecture ┆ prefectu ┆ ... ┆ tel_no     ┆ longitude ┆ latitude ┆ floor_ar │
│ ---      ┆ me       ┆ _cd        ┆ re       ┆     ┆ ---        ┆ ---       ┆ ---      ┆ ea       │
│ str      ┆ ---      ┆ ---        ┆ ---      ┆     ┆ str        ┆ f64       ┆ f64      ┆ ---      │
│          ┆ str      ┆ str        ┆ str      ┆     ┆            ┆           ┆          ┆ f64      │
╞══════════╪══════════╪════════════╪══════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ S14010   ┆ 菊名店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0   │
│          ┆          ┆            ┆          ┆     ┆ 32         ┆           ┆          ┆          │
│ S14033   ┆ 阿久和店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0   │
│          ┆          ┆            ┆          ┆     ┆ 43         ┆           ┆          ┆          │
│ S14040   ┆ 長津田店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4994  ┆ 35.52398 ┆ 1548.0   │
│          ┆          ┆            ┆          ┆     ┆ 46         ┆           ┆          ┆          │
│ S14050   ┆ 阿久和西 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1830.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 53         ┆           ┆          ┆          │
│ ...      ┆ ...      ┆ ...        ┆ ...      ┆ ... ┆ ...        ┆ ...       ┆ ...      ┆ ...      │
│ S14011   ┆ 日吉本町 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6316  ┆ 35.54655 ┆ 890.0    │
│          ┆ 店       ┆            ┆          ┆     ┆ 33         ┆           ┆          ┆          │
│ S14048   ┆ 中川中央 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5758  ┆ 35.54912 ┆ 1657.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 51         ┆           ┆          ┆          │
│ S14042   ┆ 新山下店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6593  ┆ 35.43894 ┆ 1044.0   │
│          ┆          ┆            ┆          ┆     ┆ 47         ┆           ┆          ┆          │
│ S14006   ┆ 葛が谷店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.5633  ┆ 35.53573 ┆ 1886.0   │
│          ┆          ┆            ┆          ┆     ┆ 31         ┆           ┆          ┆          │
└──────────┴──────────┴────────────┴──────────┴─────┴────────────┴───────────┴──────────┴──────────┘

## 13

In [50]:
df_customer.filter(
    pl.col("status_cd").str.contains(r"^[A-F]")
).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0314150 ┆ 宇多田     ┆ 1         ┆ 女性   ┆ ... ┆ 東京都渋 ┆ S13031     ┆ 20150529   ┆ D-20100 │
│ 00172     ┆ 貴美子     ┆           ┆        ┆     ┆ 谷区代々 ┆            ┆            ┆ 325-C   │
│           ┆            ┆           ┆        ┆     ┆ 木****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0154140 ┆ 奥野 陽子  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都江 ┆ S13015     ┆ 20150722   ┆ B-20100 │
│ 00103     ┆            ┆           ┆        ┆     ┆ 東区北砂 ┆            ┆            ┆ 609-B   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0112150 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14011     ┆ 20150228   ┆ C-20100 │
│ 00048     ┆            ┆           ┆        ┆     ┆ 横浜市港 ┆            ┆            ┆ 421-9   │
│           ┆            ┆           ┆        ┆     ┆ 北区日吉 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 本町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0294150 ┆ 梅田 里穂  ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県浦 ┆ S12029     ┆ 20150610   ┆ D-20100 │
│ 00023     ┆            ┆           ┆        ┆     ┆ 安市富士 ┆            ┆            ┆ 918-E   │
│           ┆            ┆           ┆        ┆     ┆ 見****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0292150 ┆ 石倉 美帆  ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県浦 ┆ S12029     ┆ 20150708   ┆ B-20100 │
│ 00025     ┆            ┆           ┆        ┆     ┆ 安市今川 ┆            ┆            ┆ 820-C   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0336050 ┆ 猪股 雄太  ┆ 0         ┆ 男性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150425   ┆ F-20100 │
│ 00005     ┆            ┆           ┆        ┆     ┆ 横浜市瀬 ┆            ┆            ┆ 917-E   │
│           ┆            ┆           ┆        ┆     ┆ 谷区瀬谷 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0334150 ┆ 板垣       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150712   ┆ F-20100 │
│ 00229     ┆ 菜々美     ┆           ┆        ┆     ┆ 横浜市瀬 ┆            ┆            ┆ 326-E   │
│           ┆            ┆           ┆        ┆     ┆ 谷区二ツ ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 橋町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0084150 ┆ 黒谷 麻緒  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13008     ┆ 20150829   ┆ F-20100 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田谷区喜 ┆            ┆            ┆ 622-F   │
│           ┆            ┆           ┆        ┆     ┆ 多見**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

## 14

In [51]:
df_customer.filter(
    pl.col("status_cd").str.contains(r"[1-9]$")
).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0012150 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170605   ┆ 6-20090 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田区仲六 ┆            ┆            ┆ 929-2   │
│           ┆            ┆           ┆        ┆     ┆ 郷****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0335130 ┆ 安斎 遥    ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150728   ┆ 6-20080 │
│ 00180     ┆            ┆           ┆        ┆     ┆ 横浜市旭 ┆            ┆            ┆ 506-5   │
│           ┆            ┆           ┆        ┆     ┆ 区善部町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0112150 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14011     ┆ 20150228   ┆ C-20100 │
│ 00048     ┆            ┆           ┆        ┆     ┆ 横浜市港 ┆            ┆            ┆ 421-9   │
│           ┆            ┆           ┆        ┆     ┆ 北区日吉 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 本町**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0404120 ┆ 川井 郁恵  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14040     ┆ 20151101   ┆ 1-20091 │
│ 00191     ┆            ┆           ┆        ┆     ┆ 横浜市緑 ┆            ┆            ┆ 025-4   │
│           ┆            ┆           ┆        ┆     ┆ 区北八朔 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0235130 ┆ 神戸 そら  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14023     ┆ 20150915   ┆ 5-20100 │
│ 00066     ┆            ┆           ┆        ┆     ┆ 川崎市川 ┆            ┆            ┆ 524-9   │
│           ┆            ┆           ┆        ┆     ┆ 崎区東田 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0355130 ┆ 市川 美帆  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13035     ┆ 20150227   ┆ 8-20100 │
│ 00134     ┆            ┆           ┆        ┆     ┆ 田谷区桜 ┆            ┆            ┆ 711-9   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0015150 ┆ 高松 夏空  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20160812   ┆ 1-20100 │
│ 00263     ┆            ┆           ┆        ┆     ┆ 田区西蒲 ┆            ┆            ┆ 804-1   │
│           ┆            ┆           ┆        ┆     ┆ 田****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0403140 ┆ 鶴田       ┆ 9         ┆ 不明   ┆ ... ┆ 神奈川県 ┆ S14040     ┆ 20150122   ┆ 2-20080 │
│ 00027     ┆ きみまろ   ┆           ┆        ┆     ┆ 横浜市緑 ┆            ┆            ┆ 426-4   │
│           ┆            ┆           ┆        ┆     ┆ 区長津田 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

## 15

In [73]:
df_customer.filter(
    pl.col("status_cd").str.contains(r"^[^A-F].*[1-9]$")
).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0012150 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170605   ┆ 6-20090 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田区仲六 ┆            ┆            ┆ 929-2   │
│           ┆            ┆           ┆        ┆     ┆ 郷****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0335130 ┆ 安斎 遥    ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150728   ┆ 6-20080 │
│ 00180     ┆            ┆           ┆        ┆     ┆ 横浜市旭 ┆            ┆            ┆ 506-5   │
│           ┆            ┆           ┆        ┆     ┆ 区善部町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0404120 ┆ 川井 郁恵  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14040     ┆ 20151101   ┆ 1-20091 │
│ 00191     ┆            ┆           ┆        ┆     ┆ 横浜市緑 ┆            ┆            ┆ 025-4   │
│           ┆            ┆           ┆        ┆     ┆ 区北八朔 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0093150 ┆ 皆川 文世  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13009     ┆ 20150319   ┆ 5-20080 │
│ 00023     ┆            ┆           ┆        ┆     ┆ 田谷区駒 ┆            ┆            ┆ 322-1   │
│           ┆            ┆           ┆        ┆     ┆ 沢****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0355130 ┆ 市川 美帆  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13035     ┆ 20150227   ┆ 8-20100 │
│ 00134     ┆            ┆           ┆        ┆     ┆ 田谷区桜 ┆            ┆            ┆ 711-9   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0015150 ┆ 高松 夏空  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20160812   ┆ 1-20100 │
│ 00263     ┆            ┆           ┆        ┆     ┆ 田区西蒲 ┆            ┆            ┆ 804-1   │
│           ┆            ┆           ┆        ┆     ┆ 田****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0403140 ┆ 鶴田       ┆ 9         ┆ 不明   ┆ ... ┆ 神奈川県 ┆ S14040     ┆ 20150122   ┆ 2-20080 │
│ 00027     ┆ きみまろ   ┆           ┆        ┆     ┆ 横浜市緑 ┆            ┆            ┆ 426-4   │
│           ┆            ┆           ┆        ┆     ┆ 区長津田 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0064150 ┆ 末永 綾    ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14006     ┆ 20150713   ┆ 1-20100 │
│ 00279     ┆            ┆           ┆        ┆     ┆ 横浜市都 ┆            ┆            ┆ 519-2   │
│           ┆            ┆           ┆        ┆     ┆ 筑区茅ケ ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 崎南**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

## 16

In [90]:
df_store.filter(
    pl.col("tel_no").str.contains(r"^[0-9]{3}-[0-9]{3}-[0-9]{4}$")
).head(10)

shape: (10, 10)
┌──────────┬──────────┬────────────┬──────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ store_cd ┆ store_na ┆ prefecture ┆ prefectu ┆ ... ┆ tel_no     ┆ longitude ┆ latitude ┆ floor_ar │
│ ---      ┆ me       ┆ _cd        ┆ re       ┆     ┆ ---        ┆ ---       ┆ ---      ┆ ea       │
│ str      ┆ ---      ┆ ---        ┆ ---      ┆     ┆ str        ┆ f64       ┆ f64      ┆ ---      │
│          ┆ str      ┆ str        ┆ str      ┆     ┆            ┆           ┆          ┆ f64      │
╞══════════╪══════════╪════════════╪══════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ S12014   ┆ 千草台店 ┆ 12         ┆ 千葉県   ┆ ... ┆ 043-123-40 ┆ 140.118   ┆ 35.63559 ┆ 1698.0   │
│          ┆          ┆            ┆          ┆     ┆ 03         ┆           ┆          ┆          │
│ S13002   ┆ 国分寺店 ┆ 13         ┆ 東京都   ┆ ... ┆ 042-123-40 ┆ 139.4802  ┆ 35.70566 ┆ 1735.0   │
│          ┆          ┆            ┆          ┆     ┆ 08         ┆           ┆          ┆          │
│ S14010   ┆ 菊名店   ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0   │
│          ┆          ┆            ┆          ┆     ┆ 32         ┆           ┆          ┆          │
│ S14033   ┆ 阿久和店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0   │
│          ┆          ┆            ┆          ┆     ┆ 43         ┆           ┆          ┆          │
│ ...      ┆ ...      ┆ ...        ┆ ...      ┆ ... ┆ ...        ┆ ...       ┆ ...      ┆ ...      │
│ S14050   ┆ 阿久和西 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4961  ┆ 35.45918 ┆ 1830.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 53         ┆           ┆          ┆          │
│ S13052   ┆ 森野店   ┆ 13         ┆ 東京都   ┆ ... ┆ 042-123-40 ┆ 139.4383  ┆ 35.55293 ┆ 1087.0   │
│          ┆          ┆            ┆          ┆     ┆ 30         ┆           ┆          ┆          │
│ S14028   ┆ 二ツ橋店 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.4963  ┆ 35.46304 ┆ 1574.0   │
│          ┆          ┆            ┆          ┆     ┆ 42         ┆           ┆          ┆          │
│ S14012   ┆ 本牧和田 ┆ 14         ┆ 神奈川県 ┆ ... ┆ 045-123-40 ┆ 139.6582  ┆ 35.42156 ┆ 1341.0   │
│          ┆ 店       ┆            ┆          ┆     ┆ 34         ┆           ┆          ┆          │
└──────────┴──────────┴────────────┴──────────┴─────┴────────────┴───────────┴──────────┴──────────┘

## 17

In [94]:
df_customer.sort(["birth_day", "customer_id"]).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0038130 ┆ 村山       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都調 ┆ S13003     ┆ 20160214   ┆ 0-00000 │
│ 00014     ┆ 菜々美     ┆           ┆        ┆     ┆ 布市菊野 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 台****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0268130 ┆ 吉村 朝陽  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14026     ┆ 20150723   ┆ 0-00000 │
│ 00004     ┆            ┆           ┆        ┆     ┆ 藤沢市辻 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 堂元町** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│ CS0188110 ┆ 熊沢 美里  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都清 ┆ S13018     ┆ 20150403   ┆ 0-00000 │
│ 00003     ┆            ┆           ┆        ┆     ┆ 瀬市野塩 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0278030 ┆ 内村 拓郎  ┆ 0         ┆ 男性   ┆ ... ┆ 神奈川県 ┆ S14027     ┆ 20151227   ┆ 0-00000 │
│ 00004     ┆            ┆           ┆        ┆     ┆ 藤沢市鵠 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 沼藤が谷 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0168150 ┆ 山元 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都小 ┆ S13016     ┆ 20150629   ┆ C-20090 │
│ 00002     ┆            ┆           ┆        ┆     ┆ 金井市桜 ┆            ┆            ┆ 923-C   │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0098150 ┆ 中田 里穂  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13009     ┆ 20150421   ┆ D-20091 │
│ 00003     ┆            ┆           ┆        ┆     ┆ 田谷区新 ┆            ┆            ┆ 021-E   │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0058130 ┆ 金谷       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都中 ┆ S13005     ┆ 20150506   ┆ 0-00000 │
│ 00015     ┆ 恵梨香     ┆           ┆        ┆     ┆ 野区鷺宮 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0128130 ┆ 宇野 南朋  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14012     ┆ 20150712   ┆ 0-00000 │
│ 00013     ┆            ┆           ┆        ┆     ┆ 横浜市中 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 区本牧町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

## 18

In [96]:
df_customer.sort(["birth_day", "customer_id"], reverse=True).head(10)

shape: (10, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0351140 ┆ 大村 美里  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都世 ┆ S13035     ┆ 20150619   ┆ 6-20091 │
│ 00004     ┆            ┆           ┆        ┆     ┆ 田谷区桜 ┆            ┆            ┆ 205-6   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0221030 ┆ 福山       ┆ 9         ┆ 不明   ┆ ... ┆ 神奈川県 ┆ S14022     ┆ 20160909   ┆ 0-00000 │
│ 00002     ┆ はじめ     ┆           ┆        ┆     ┆ 逗子市逗 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 子****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0021130 ┆ 柴田       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都小 ┆ S13002     ┆ 20160304   ┆ 0-00000 │
│ 00009     ┆ 真悠子     ┆           ┆        ┆     ┆ 金井市貫 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 井南町** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│ CS0041150 ┆ 松井 京子  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都中 ┆ S13004     ┆ 20161120   ┆ 1-20081 │
│ 00014     ┆            ┆           ┆        ┆     ┆ 野区上鷺 ┆            ┆            ┆ 231-1   │
│           ┆            ┆           ┆        ┆     ┆ 宮****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ ...       ┆ ...        ┆ ...       ┆ ...    ┆ ... ┆ ...      ┆ ...        ┆ ...        ┆ ...     │
│ CS0021130 ┆ 広末       ┆ 1         ┆ 女性   ┆ ... ┆ 東京都小 ┆ S13002     ┆ 20171030   ┆ 0-00000 │
│ 00025     ┆ まなみ     ┆           ┆        ┆     ┆ 金井市貫 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 井北町** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│ CS0331120 ┆ 長野 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14033     ┆ 20150606   ┆ 0-00000 │
│ 00003     ┆            ┆           ┆        ┆     ┆ 横浜市戸 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 塚区名瀬 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ 町****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0071150 ┆ 福岡 瞬    ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県佐 ┆ S12007     ┆ 20151118   ┆ F-20101 │
│ 00006     ┆            ┆           ┆        ┆     ┆ 倉市西志 ┆            ┆            ┆ 016-F   │
│           ┆            ┆           ┆        ┆     ┆ 津****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0141130 ┆ 矢口 莉緒  ┆ 1         ┆ 女性   ┆ ... ┆ 千葉県千 ┆ S12014     ┆ 20150622   ┆ 3-20091 │
│ 00008     ┆            ┆           ┆        ┆     ┆ 葉市中央 ┆            ┆            ┆ 108-6   │
│           ┆            ┆           ┆        ┆     ┆ 区東千葉 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

## 19

In [126]:
df_receipt.select([pl.col("customer_id"), pl.col("amount"), pl.col("amount").rank(method='max', reverse=True).alias("ranking")]).sort("ranking").head(10)

shape: (10, 3)
┌────────────────┬────────┬─────────┐
│ customer_id    ┆ amount ┆ ranking │
│ ---            ┆ ---    ┆ ---     │
│ str            ┆ i64    ┆ u32     │
╞════════════════╪════════╪═════════╡
│ CS011415000006 ┆ 10925  ┆ 1       │
│ ZZ000000000000 ┆ 6800   ┆ 2       │
│ CS028605000002 ┆ 5780   ┆ 3       │
│ CS015515000034 ┆ 5480   ┆ 6       │
│ ...            ┆ ...    ┆ ...     │
│ ZZ000000000000 ┆ 5440   ┆ 8       │
│ CS021515000089 ┆ 5440   ┆ 8       │
│ CS015515000083 ┆ 5280   ┆ 39      │
│ CS017414000114 ┆ 5280   ┆ 39      │
└────────────────┴────────┴─────────┘

## 20

In [133]:
df_receipt.select([pl.col("customer_id"), pl.col("amount"), pl.col("amount").rank(method='ordinal', reverse=False).alias("ranking")]).sort("ranking").head(10)

shape: (10, 3)
┌────────────────┬────────┬─────────┐
│ customer_id    ┆ amount ┆ ranking │
│ ---            ┆ ---    ┆ ---     │
│ str            ┆ i64    ┆ u32     │
╞════════════════╪════════╪═════════╡
│ CS017415000158 ┆ 10     ┆ 1       │
│ CS026414000060 ┆ 10     ┆ 2       │
│ CS027513000078 ┆ 10     ┆ 3       │
│ ZZ000000000000 ┆ 10     ┆ 4       │
│ ...            ┆ ...    ┆ ...     │
│ CS018414000049 ┆ 10     ┆ 7       │
│ CS025415000056 ┆ 10     ┆ 8       │
│ CS027414000084 ┆ 10     ┆ 9       │
│ CS028215000024 ┆ 10     ┆ 10      │
└────────────────┴────────┴─────────┘

## 21

In [134]:
df_receipt.shape[0]

104681

## 22

In [140]:
df_receipt.get_column("customer_id").n_unique()

8307

## 23

In [149]:
df_receipt.groupby("store_cd").agg([pl.col("amount").sum(), pl.col("quantity").sum()]).head(10)

shape: (10, 3)
┌──────────┬────────┬──────────┐
│ store_cd ┆ amount ┆ quantity │
│ ---      ┆ ---    ┆ ---      │
│ str      ┆ i64    ┆ i64      │
╞══════════╪════════╪══════════╡
│ S13032   ┆ 790501 ┆ 2491     │
│ S14045   ┆ 458484 ┆ 1398     │
│ S13001   ┆ 811936 ┆ 2347     │
│ S13019   ┆ 827833 ┆ 2541     │
│ ...      ┆ ...    ┆ ...      │
│ S13020   ┆ 796383 ┆ 2383     │
│ S14027   ┆ 714550 ┆ 2303     │
│ S13017   ┆ 748221 ┆ 2376     │
│ S14033   ┆ 725318 ┆ 2282     │
└──────────┴────────┴──────────┘

## 24

In [154]:
df_receipt.groupby("customer_id").agg([pl.col("sales_ymd").max()]).head(10)

shape: (10, 2)
┌────────────────┬───────────┐
│ customer_id    ┆ sales_ymd │
│ ---            ┆ ---       │
│ str            ┆ i64       │
╞════════════════╪═══════════╡
│ CS014314000052 ┆ 20190219  │
│ CS029305000006 ┆ 20190223  │
│ CS029415000243 ┆ 20191029  │
│ CS034414000102 ┆ 20190821  │
│ ...            ┆ ...       │
│ CS025513000179 ┆ 20190927  │
│ CS003415000477 ┆ 20190918  │
│ CS024314000067 ┆ 20181023  │
│ CS034515000020 ┆ 20190805  │
└────────────────┴───────────┘

## 25

In [158]:
df_receipt.groupby("customer_id").agg([pl.col("sales_ymd").min()]).head(10)

shape: (10, 2)
┌────────────────┬───────────┐
│ customer_id    ┆ sales_ymd │
│ ---            ┆ ---       │
│ str            ┆ i64       │
╞════════════════╪═══════════╡
│ CS001415000472 ┆ 20180610  │
│ CS009515000010 ┆ 20171130  │
│ CS025415000224 ┆ 20170207  │
│ CS004513000085 ┆ 20170429  │
│ ...            ┆ ...       │
│ CS034511000047 ┆ 20180629  │
│ CS003514000093 ┆ 20170303  │
│ CS026415000070 ┆ 20170323  │
│ CS019513000123 ┆ 20180615  │
└────────────────┴───────────┘

## 26

In [161]:
df_receipt.groupby("customer_id").agg([pl.col("sales_ymd").max().alias("latest"), pl.col("sales_ymd").min().alias("oldest")]).filter(pl.col("latest") != pl.col("oldest")).head(10)

shape: (10, 3)
┌────────────────┬──────────┬──────────┐
│ customer_id    ┆ latest   ┆ oldest   │
│ ---            ┆ ---      ┆ ---      │
│ str            ┆ i64      ┆ i64      │
╞════════════════╪══════════╪══════════╡
│ CS006514000034 ┆ 20190524 ┆ 20170408 │
│ CS014414000076 ┆ 20190515 ┆ 20170117 │
│ CS033415000086 ┆ 20190820 ┆ 20170522 │
│ CS004414000047 ┆ 20190101 ┆ 20171107 │
│ ...            ┆ ...      ┆ ...      │
│ CS013514000022 ┆ 20180614 ┆ 20170721 │
│ CS022615000075 ┆ 20180817 ┆ 20170401 │
│ CS009415000190 ┆ 20191026 ┆ 20170329 │
│ CS020412000095 ┆ 20180510 ┆ 20170422 │
└────────────────┴──────────┴──────────┘

## 27

In [166]:
df_receipt.groupby("store_cd").agg([pl.col("amount").mean().alias("average_amount")]).sort("average_amount", reverse=True).head(10)

shape: (10, 2)
┌──────────┬────────────────┐
│ store_cd ┆ average_amount │
│ ---      ┆ ---            │
│ str      ┆ f64            │
╞══════════╪════════════════╡
│ S13052   ┆ 402.86747      │
│ S13015   ┆ 351.11196      │
│ S13003   ┆ 350.915519     │
│ S14010   ┆ 348.791262     │
│ ...      ┆ ...            │
│ S14011   ┆ 335.718333     │
│ S14026   ┆ 332.340588     │
│ S13004   ┆ 330.943949     │
│ S13019   ┆ 330.208616     │
└──────────┴────────────────┘

## 28

In [168]:
df_receipt.groupby("store_cd").agg([pl.col("amount").median().alias("average_amount")]).sort("average_amount", reverse=True).head(10)

shape: (10, 2)
┌──────────┬────────────────┐
│ store_cd ┆ average_amount │
│ ---      ┆ ---            │
│ str      ┆ f64            │
╞══════════╪════════════════╡
│ S13052   ┆ 190.0          │
│ S14010   ┆ 188.0          │
│ S14050   ┆ 185.0          │
│ S13018   ┆ 180.0          │
│ ...      ┆ ...            │
│ S14033   ┆ 179.0          │
│ S13008   ┆ 179.0          │
│ S13035   ┆ 178.0          │
│ S12029   ┆ 178.0          │
└──────────┴────────────────┘

## 29

In [177]:
df_receipt.groupby("store_cd").agg([pl.col("product_cd").mode().alias("average_amount")]).select([pl.col("store_cd"), pl.col("average_amount").arr.first()]).sort("store_cd").head(10)

shape: (10, 2)
┌──────────┬────────────────┐
│ store_cd ┆ average_amount │
│ ---      ┆ ---            │
│ str      ┆ str            │
╞══════════╪════════════════╡
│ S12007   ┆ P060303001     │
│ S12013   ┆ P060303001     │
│ S12014   ┆ P060303001     │
│ S12029   ┆ P060303001     │
│ ...      ┆ ...            │
│ S13002   ┆ P060303001     │
│ S13003   ┆ P071401001     │
│ S13004   ┆ P060303001     │
│ S13005   ┆ P040503001     │
└──────────┴────────────────┘

## 30

In [184]:
df_receipt.groupby("store_cd").agg([pl.col("amount").var().alias("average_amount")]).sort("store_cd", reverse=True).head(10)

shape: (10, 2)
┌──────────┬────────────────┐
│ store_cd ┆ average_amount │
│ ---      ┆ ---            │
│ str      ┆ f64            │
╞══════════╪════════════════╡
│ S14050   ┆ 157972.865778  │
│ S14049   ┆ 180594.863026  │
│ S14048   ┆ 245527.182415  │
│ S14047   ┆ 222201.918859  │
│ ...      ┆ ...            │
│ S14042   ┆ 172150.802284  │
│ S14040   ┆ 223143.338581  │
│ S14036   ┆ 231056.775489  │
│ S14034   ┆ 297068.39274   │
└──────────┴────────────────┘

## 31

In [185]:
df_receipt.groupby("store_cd").agg([pl.col("amount").std().alias("average_amount")]).sort("store_cd", reverse=True).head(10)

shape: (10, 2)
┌──────────┬────────────────┐
│ store_cd ┆ average_amount │
│ ---      ┆ ---            │
│ str      ┆ f64            │
╞══════════╪════════════════╡
│ S14050   ┆ 397.458005     │
│ S14049   ┆ 424.964543     │
│ S14048   ┆ 495.506995     │
│ S14047   ┆ 471.382985     │
│ ...      ┆ ...            │
│ S14042   ┆ 414.910596     │
│ S14040   ┆ 472.380502     │
│ S14036   ┆ 480.683654     │
│ S14034   ┆ 545.039808     │
└──────────┴────────────────┘

## 32

In [192]:
df_receipt.select([pl.col("amount").quantile(p).alias(f"q_{str(p)}") for p in [0, 0.25, 0.50, 0.75, 1.00] ])
# df_receipt.select([pl.col("amount").quantile(0.0).alias("q_0"), pl.col("amount").quantile(0.25).alias("q_25"),pl.col("amount").quantile(0.50).alias("q_50"), pl.col("amount").quantile(0.75).alias("q_75"), pl.col("amount").quantile(1.00).alias("q_100")])

shape: (1, 5)
┌──────┬────────┬───────┬────────┬─────────┐
│ q_0  ┆ q_0.25 ┆ q_0.5 ┆ q_0.75 ┆ q_1.0   │
│ ---  ┆ ---    ┆ ---   ┆ ---    ┆ ---     │
│ f64  ┆ f64    ┆ f64   ┆ f64    ┆ f64     │
╞══════╪════════╪═══════╪════════╪═════════╡
│ 10.0 ┆ 102.0  ┆ 170.0 ┆ 288.0  ┆ 10925.0 │
└──────┴────────┴───────┴────────┴─────────┘

## 33

In [196]:
df_receipt.groupby("store_cd").agg([pl.col("amount").mean()]).filter(pl.col("amount")>=330).sort("store_cd")

shape: (13, 2)
┌──────────┬────────────┐
│ store_cd ┆ amount     │
│ ---      ┆ ---        │
│ str      ┆ f64        │
╞══════════╪════════════╡
│ S12013   ┆ 330.19413  │
│ S13001   ┆ 348.470386 │
│ S13003   ┆ 350.915519 │
│ S13004   ┆ 330.943949 │
│ ...      ┆ ...        │
│ S14011   ┆ 335.718333 │
│ S14026   ┆ 332.340588 │
│ S14045   ┆ 330.082073 │
│ S14047   ┆ 330.077073 │
└──────────┴────────────┘

## 34

In [205]:
df_receipt.filter(pl.col("customer_id").str.contains(r"^Z").is_not()).groupby("customer_id").agg([pl.col("amount").sum()]).select(pl.col("amount")).mean()

shape: (1, 1)
┌─────────────┐
│ amount      │
│ ---         │
│ f64         │
╞═════════════╡
│ 2547.742235 │
└─────────────┘

## 35

In [221]:
val = df_receipt.filter(pl.col("customer_id").str.starts_with("Z").is_not()).groupby("customer_id").agg([pl.col("amount").sum()]).select(pl.col("amount")).mean()

df_receipt.filter(pl.col("customer_id").str.starts_with("Z").is_not()).groupby("customer_id").agg([pl.col("amount").sum()]).head(10)

shape: (10, 2)
┌────────────────┬────────┐
│ customer_id    ┆ amount │
│ ---            ┆ ---    │
│ str            ┆ i64    │
╞════════════════╪════════╡
│ CS021515000126 ┆ 9693   │
│ CS027414000030 ┆ 5663   │
│ CS001411000014 ┆ 1261   │
│ CS013515000102 ┆ 4972   │
│ ...            ┆ ...    │
│ CS022214000021 ┆ 8329   │
│ CS014415000172 ┆ 11329  │
│ CS002415000536 ┆ 6246   │
│ CS015412000164 ┆ 298    │
└────────────────┴────────┘

## 36

In [229]:
df_receipt.join(df_store.select([pl.col("store_cd"), pl.col("store_name")]), on = pl.col("store_cd"), how='inner').head()

shape: (5, 10)
┌───────────┬───────────┬──────────┬──────────┬─────┬─────────────┬──────────┬────────┬────────────┐
│ sales_ymd ┆ sales_epo ┆ store_cd ┆ receipt_ ┆ ... ┆ product_cd  ┆ quantity ┆ amount ┆ store_name │
│ ---       ┆ ch        ┆ ---      ┆ no       ┆     ┆ ---         ┆ ---      ┆ ---    ┆ ---        │
│ i64       ┆ ---       ┆ str      ┆ ---      ┆     ┆ str         ┆ i64      ┆ i64    ┆ str        │
│           ┆ i64       ┆          ┆ i64      ┆     ┆             ┆          ┆        ┆            │
╞═══════════╪═══════════╪══════════╪══════════╪═════╪═════════════╪══════════╪════════╪════════════╡
│ 20181103  ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ P070305012  ┆ 1        ┆ 158    ┆ 葛が谷店   │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
│ 20181118  ┆ 154249920 ┆ S13008   ┆ 1132     ┆ ... ┆ P070701017  ┆ 1        ┆ 81     ┆ 成城店     │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
│ 20170712  ┆ 149981760 ┆ S14028   ┆ 1102     ┆ ... ┆ P060101005  ┆ 1        ┆ 170    ┆ 二ツ橋店   │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
│ 20190205  ┆ 154932480 ┆ S14042   ┆ 1132     ┆ ... ┆ P050301001  ┆ 1        ┆ 25     ┆ 新山下店   │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
│ 20180821  ┆ 153480960 ┆ S14025   ┆ 1102     ┆ ... ┆ P060102007  ┆ 1        ┆ 90     ┆ 大和店     │
│           ┆ 0         ┆          ┆          ┆     ┆             ┆          ┆        ┆            │
└───────────┴───────────┴──────────┴──────────┴─────┴─────────────┴──────────┴────────┴────────────┘

## 37

In [232]:
df_category.columns

['category_major_cd',
 'category_major_name',
 'category_medium_cd',
 'category_medium_name',
 'category_small_cd',
 'category_small_name']

In [236]:
df_product.join(df_category.select([pl.col("category_small_cd"), pl.col("category_small_name")]) , on = "category_small_cd", how='inner')

shape: (10030, 7)
┌────────────┬───────────────┬──────────────┬──────────────┬────────────┬───────────┬──────────────┐
│ product_cd ┆ category_majo ┆ category_med ┆ category_sma ┆ unit_price ┆ unit_cost ┆ category_sma │
│ ---        ┆ r_cd          ┆ ium_cd       ┆ ll_cd        ┆ ---        ┆ ---       ┆ ll_name      │
│ str        ┆ ---           ┆ ---          ┆ ---          ┆ i64        ┆ i64       ┆ ---          │
│            ┆ str           ┆ str          ┆ str          ┆            ┆           ┆ str          │
╞════════════╪═══════════════╪══════════════╪══════════════╪════════════╪═══════════╪══════════════╡
│ P040101001 ┆ 04            ┆ 0401         ┆ 040101       ┆ 198        ┆ 149       ┆ 弁当類       │
│ P040101002 ┆ 04            ┆ 0401         ┆ 040101       ┆ 218        ┆ 164       ┆ 弁当類       │
│ P040101003 ┆ 04            ┆ 0401         ┆ 040101       ┆ 230        ┆ 173       ┆ 弁当類       │
│ P040101004 ┆ 04            ┆ 0401         ┆ 040101       ┆ 248        ┆ 186       ┆ 弁当類       │
│ ...        ┆ ...           ┆ ...          ┆ ...          ┆ ...        ┆ ...       ┆ ...          │
│ P091503002 ┆ 09            ┆ 0915         ┆ 091503       ┆ 680        ┆ 510       ┆ 園芸用品     │
│ P091503003 ┆ 09            ┆ 0915         ┆ 091503       ┆ 1080       ┆ 810       ┆ 園芸用品     │
│ P091503004 ┆ 09            ┆ 0915         ┆ 091503       ┆ 1130       ┆ 848       ┆ 園芸用品     │
│ P091503005 ┆ 09            ┆ 0915         ┆ 091503       ┆ 1280       ┆ 960       ┆ 園芸用品     │
└────────────┴───────────────┴──────────────┴──────────────┴────────────┴───────────┴──────────────┘

## 38

In [237]:
df_customer.head()

shape: (5, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0213130 ┆ 大野       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14021     ┆ 20150905   ┆ 0-00000 │
│ 00114     ┆ あや子     ┆           ┆        ┆     ┆ 伊勢原市 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 粟窪**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0376130 ┆ 六角 雅彦  ┆ 9         ┆ 不明   ┆ ... ┆ 東京都江 ┆ S13037     ┆ 20150414   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 東区南砂 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0314150 ┆ 宇多田     ┆ 1         ┆ 女性   ┆ ... ┆ 東京都渋 ┆ S13031     ┆ 20150529   ┆ D-20100 │
│ 00172     ┆ 貴美子     ┆           ┆        ┆     ┆ 谷区代々 ┆            ┆            ┆ 325-C   │
│           ┆            ┆           ┆        ┆     ┆ 木****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0288110 ┆ 堀井       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20160115   ┆ 0-00000 │
│ 00001     ┆ かおり     ┆           ┆        ┆     ┆ 横浜市泉 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 区和泉町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0012150 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170605   ┆ 6-20090 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田区仲六 ┆            ┆            ┆ 929-2   │
│           ┆            ┆           ┆        ┆     ┆ 郷****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

In [268]:
# a = 
df_customer \
.filter(pl.col("gender_cd") == "1") \
.filter(pl.col("customer_id").str.starts_with("Z").is_not()) \
.select(pl.col("customer_id"))\
.join(df_receipt, on = "customer_id", how = 'left') \
.groupby("customer_id").agg([pl.col("amount").sum().fill_null(0)])
#

shape: (17918, 2)
┌────────────────┬────────┐
│ customer_id    ┆ amount │
│ ---            ┆ ---    │
│ str            ┆ i64    │
╞════════════════╪════════╡
│ CS004515000392 ┆ 0      │
│ CS029213000042 ┆ 0      │
│ CS009314000026 ┆ 2878   │
│ CS040213000022 ┆ 0      │
│ ...            ┆ ...    │
│ CS040413000245 ┆ 388    │
│ CS001512000419 ┆ 0      │
│ CS011415000276 ┆ 1688   │
│ CS002513000298 ┆ 694    │
└────────────────┴────────┘

## 39

In [284]:
df_receipt_notz = df_receipt.filter(pl.col("customer_id").str.starts_with("Z").is_not())
df1 = df_receipt_notz.sort("sales_ymd", reverse=True).head(20)
df2 = df_receipt_notz.sort("amount", reverse=True).head(20)

In [286]:
df_data = df_receipt.filter(pl.col('customer_id').str.starts_with('Z').is_not())

df_cnt = df_data.groupby('customer_id').agg(pl.col('sales_ymd').n_unique()).sort('sales_ymd', reverse=True).head(20)
df_sum = df_data.groupby('customer_id').agg(pl.col('amount').sum()).sort('amount', reverse=True).head(20)

df_cnt.join(df_sum, how='outer', on='customer_id')

shape: (34, 3)
┌────────────────┬───────────┬────────┐
│ customer_id    ┆ sales_ymd ┆ amount │
│ ---            ┆ ---       ┆ ---    │
│ str            ┆ u32       ┆ i64    │
╞════════════════╪═══════════╪════════╡
│ CS017415000097 ┆ 20        ┆ 23086  │
│ CS015415000185 ┆ 22        ┆ 20153  │
│ CS031414000051 ┆ 19        ┆ 19202  │
│ CS028415000007 ┆ 21        ┆ 19127  │
│ ...            ┆ ...       ┆ ...    │
│ CS039414000052 ┆ 19        ┆ null   │
│ CS030214000008 ┆ 18        ┆ null   │
│ CS014415000077 ┆ 18        ┆ null   │
│ CS031414000073 ┆ 18        ┆ null   │
└────────────────┴───────────┴────────┘

In [291]:
df_receipt.join(df_store, how = "cross", on = "key").shape[0]

5548093

In [293]:
df_receipt.join(df_store, how = "cross", on = "ky").head()

shape: (5, 19)
┌─────────┬───────────┬──────────┬──────────┬─────┬─────────────┬────────────┬──────────┬──────────┐
│ sales_y ┆ sales_epo ┆ store_cd ┆ receipt_ ┆ ... ┆ tel_no      ┆ longitude  ┆ latitude ┆ floor_ar │
│ md      ┆ ch        ┆ ---      ┆ no       ┆     ┆ ---         ┆ ---        ┆ ---      ┆ ea       │
│ ---     ┆ ---       ┆ str      ┆ ---      ┆     ┆ str         ┆ f64        ┆ f64      ┆ ---      │
│ i64     ┆ i64       ┆          ┆ i64      ┆     ┆             ┆            ┆          ┆ f64      │
╞═════════╪═══════════╪══════════╪══════════╪═════╪═════════════╪════════════╪══════════╪══════════╡
│ 2018110 ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ 043-123-400 ┆ 140.118    ┆ 35.63559 ┆ 1698.0   │
│ 3       ┆ 0         ┆          ┆          ┆     ┆ 3           ┆            ┆          ┆          │
│ 2018110 ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ 042-123-400 ┆ 139.4802   ┆ 35.70566 ┆ 1735.0   │
│ 3       ┆ 0         ┆          ┆          ┆     ┆ 8           ┆            ┆          ┆          │
│ 2018110 ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ 045-123-403 ┆ 139.6326   ┆ 35.50049 ┆ 1732.0   │
│ 3       ┆ 0         ┆          ┆          ┆     ┆ 2           ┆            ┆          ┆          │
│ 2018110 ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ 045-123-404 ┆ 139.4961   ┆ 35.45918 ┆ 1495.0   │
│ 3       ┆ 0         ┆          ┆          ┆     ┆ 3           ┆            ┆          ┆          │
│ 2018110 ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ 042-123-404 ┆ 139.3716   ┆ 35.57327 ┆ 1679.0   │
│ 3       ┆ 0         ┆          ┆          ┆     ┆ 5           ┆            ┆          ┆          │
└─────────┴───────────┴──────────┴──────────┴─────┴─────────────┴────────────┴──────────┴──────────┘

## 41

In [307]:
af = df_receipt.groupby("sales_ymd").agg([pl.col("amount").mean()]).sort("sales_ymd").shift(1)
bf = df_receipt.groupby("sales_ymd").agg([pl.col("amount").mean()]).sort("sales_ymd").shift(0)
bf.with_columns(( - af.get_column("amount") + bf.get_column("amount")).alias("diff")).head(10)

shape: (10, 3)
┌───────────┬────────────┬─────────────┐
│ sales_ymd ┆ amount     ┆ diff        │
│ ---       ┆ ---        ┆ ---         │
│ i64       ┆ f64        ┆ f64         │
╞═══════════╪════════════╪═════════════╡
│ 20170101  ┆ 378.910112 ┆ null        │
│ 20170102  ┆ 280.988372 ┆ -97.92174   │
│ 20170103  ┆ 305.588889 ┆ 24.600517   │
│ 20170104  ┆ 354.558824 ┆ 48.969935   │
│ ...       ┆ ...        ┆ ...         │
│ 20170107  ┆ 272.267442 ┆ -137.694583 │
│ 20170108  ┆ 260.389474 ┆ -11.877968  │
│ 20170109  ┆ 275.443299 ┆ 15.053825   │
│ 20170110  ┆ 283.704225 ┆ 8.260926    │
└───────────┴────────────┴─────────────┘

In [310]:
df_receipt.groupby("sales_ymd").agg(pl.col("amount").mean()).sort("sales_ymd").with_columns((pl.col("amount") - pl.col("amount").shift()).alias("diff")).head(10)

shape: (10, 3)
┌───────────┬────────────┬─────────────┐
│ sales_ymd ┆ amount     ┆ diff        │
│ ---       ┆ ---        ┆ ---         │
│ i64       ┆ f64        ┆ f64         │
╞═══════════╪════════════╪═════════════╡
│ 20170101  ┆ 378.910112 ┆ null        │
│ 20170102  ┆ 280.988372 ┆ -97.92174   │
│ 20170103  ┆ 305.588889 ┆ 24.600517   │
│ 20170104  ┆ 354.558824 ┆ 48.969935   │
│ ...       ┆ ...        ┆ ...         │
│ 20170107  ┆ 272.267442 ┆ -137.694583 │
│ 20170108  ┆ 260.389474 ┆ -11.877968  │
│ 20170109  ┆ 275.443299 ┆ 15.053825   │
│ 20170110  ┆ 283.704225 ┆ 8.260926    │
└───────────┴────────────┴─────────────┘

## 042

In [324]:
df_receipt.groupby("sales_ymd").agg(pl.col("amount").mean()).sort("sales_ymd") \
.with_columns(
    [pl.col(msg).shift(i).alias(f"diff_{msg}_{i}") for i in range(3) for msg in ["sales_ymd","amount"] ]
).head(10)

shape: (10, 8)
┌───────────┬────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┐
│ sales_ymd ┆ amount ┆ diff_sales ┆ diff_amoun ┆ diff_sales ┆ diff_amoun ┆ diff_sales ┆ diff_amoun │
│ ---       ┆ ---    ┆ _ymd_0     ┆ t_0        ┆ _ymd_1     ┆ t_1        ┆ _ymd_2     ┆ t_2        │
│ i64       ┆ f64    ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│           ┆        ┆ i64        ┆ f64        ┆ i64        ┆ f64        ┆ i64        ┆ f64        │
╞═══════════╪════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╡
│ 20170101  ┆ 378.91 ┆ 20170101   ┆ 378.910112 ┆ null       ┆ null       ┆ null       ┆ null       │
│           ┆ 0112   ┆            ┆            ┆            ┆            ┆            ┆            │
│ 20170102  ┆ 280.98 ┆ 20170102   ┆ 280.988372 ┆ 20170101   ┆ 378.910112 ┆ null       ┆ null       │
│           ┆ 8372   ┆            ┆            ┆            ┆            ┆            ┆            │
│ 20170103  ┆ 305.58 ┆ 20170103   ┆ 305.588889 ┆ 20170102   ┆ 280.988372 ┆ 20170101   ┆ 378.910112 │
│           ┆ 8889   ┆            ┆            ┆            ┆            ┆            ┆            │
│ 20170104  ┆ 354.55 ┆ 20170104   ┆ 354.558824 ┆ 20170103   ┆ 305.588889 ┆ 20170102   ┆ 280.988372 │
│           ┆ 8824   ┆            ┆            ┆            ┆            ┆            ┆            │
│ ...       ┆ ...    ┆ ...        ┆ ...        ┆ ...        ┆ ...        ┆ ...        ┆ ...        │
│ 20170107  ┆ 272.26 ┆ 20170107   ┆ 272.267442 ┆ 20170106   ┆ 409.962025 ┆ 20170105   ┆ 450.357143 │
│           ┆ 7442   ┆            ┆            ┆            ┆            ┆            ┆            │
│ 20170108  ┆ 260.38 ┆ 20170108   ┆ 260.389474 ┆ 20170107   ┆ 272.267442 ┆ 20170106   ┆ 409.962025 │
│           ┆ 9474   ┆            ┆            ┆            ┆            ┆            ┆            │
│ 20170109  ┆ 275.44 ┆ 20170109   ┆ 275.443299 ┆ 20170108   ┆ 260.389474 ┆ 20170107   ┆ 272.267442 │
│           ┆ 3299   ┆            ┆            ┆            ┆            ┆            ┆            │
│ 20170110  ┆ 283.70 ┆ 20170110   ┆ 283.704225 ┆ 20170109   ┆ 275.443299 ┆ 20170108   ┆ 260.389474 │
│           ┆ 4225   ┆            ┆            ┆            ┆            ┆            ┆            │
└───────────┴────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┘

## 043

In [383]:
df1 = pl.DataFrame({"hoge":[1, 2, 3], "one":[3, 14245, 3]})
df2 = pl.DataFrame({"hoge":[1, 2, 2], "two":[4, 4, 5]})
df1.join(df2, on = 'hoge', how = "left")

shape: (4, 3)
┌──────┬───────┬──────┐
│ hoge ┆ one   ┆ two  │
│ ---  ┆ ---   ┆ ---  │
│ i64  ┆ i64   ┆ i64  │
╞══════╪═══════╪══════╡
│ 1    ┆ 3     ┆ 4    │
│ 2    ┆ 14245 ┆ 4    │
│ 2    ┆ 14245 ┆ 5    │
│ 3    ┆ 3     ┆ null │
└──────┴───────┴──────┘

In [354]:
(df_customer
    .join(df_receipt, how='left', on='customer_id')
    .with_columns([
        ((pl.col('age') / 10).floor() * 10).alias('era'),
        pl.col('gender_cd').apply(lambda x: gender_mapping[x]).alias('gender')
    ])
    .groupby(['gender', 'era']).agg(pl.col('amount').sum())
    .pivot(values='amount', index='era', columns='gender')
    .sort('era')
)

shape: (9, 4)
┌──────┬────────┬─────────┬─────────┐
│ era  ┆ male   ┆ female  ┆ unknown │
│ ---  ┆ ---    ┆ ---     ┆ ---     │
│ f64  ┆ i64    ┆ i64     ┆ i64     │
╞══════╪════════╪═════════╪═════════╡
│ 10.0 ┆ 1591   ┆ 149836  ┆ 4317    │
│ 20.0 ┆ 72940  ┆ 1363724 ┆ 44328   │
│ 30.0 ┆ 177322 ┆ 693047  ┆ 50441   │
│ 40.0 ┆ 19355  ┆ 9320791 ┆ 483512  │
│ ...  ┆ ...    ┆ ...     ┆ ...     │
│ 60.0 ┆ 272469 ┆ 987741  ┆ 71418   │
│ 70.0 ┆ 13435  ┆ 29764   ┆ 2427    │
│ 80.0 ┆ 46360  ┆ 262923  ┆ 5111    │
│ 90.0 ┆ null   ┆ 6260    ┆ null    │
└──────┴────────┴─────────┴─────────┘

In [363]:
df = df_customer.join(df_receipt, on = "customer_id", how = 'left')

In [368]:
df.with_columns([(pl.col("age")//10 * 10).alias("era")]).groupby(['gender_cd', 'era']).agg(pl.col("amount").sum()).sort("era")
# .agg(pl.col('amount').sum()).pivot(values = "amount", index = "era", columns="gender_cd").sort("era")

shape: (26, 3)
┌───────────┬─────┬─────────┐
│ gender_cd ┆ era ┆ amount  │
│ ---       ┆ --- ┆ ---     │
│ str       ┆ i64 ┆ i64     │
╞═══════════╪═════╪═════════╡
│ 1         ┆ 10  ┆ 149836  │
│ 9         ┆ 10  ┆ 4317    │
│ 0         ┆ 10  ┆ 1591    │
│ 1         ┆ 20  ┆ 1363724 │
│ ...       ┆ ... ┆ ...     │
│ 1         ┆ 80  ┆ 262923  │
│ 9         ┆ 80  ┆ 5111    │
│ 1         ┆ 90  ┆ 6260    │
│ 0         ┆ 90  ┆ null    │
└───────────┴─────┴─────────┘

In [336]:
gender_mapping = {
    '0': 'male',
    '1': 'female',
    '9': 'unknown'
}
(df_customer
    .join(df_receipt, how='left', on='customer_id')
    .with_columns([
        ((pl.col('age') / 10).floor() * 10).alias('era'),
        pl.col('gender_cd').apply(lambda x: gender_mapping[x]).alias('gender')
    ])
    .groupby(['gender', 'era']).agg(pl.col('amount').sum())
    .pivot(values='amount', index='era', columns='gender')
    .sort('era')
)

shape: (9, 4)
┌──────┬────────┬─────────┬─────────┐
│ era  ┆ male   ┆ unknown ┆ female  │
│ ---  ┆ ---    ┆ ---     ┆ ---     │
│ f64  ┆ i64    ┆ i64     ┆ i64     │
╞══════╪════════╪═════════╪═════════╡
│ 10.0 ┆ 1591   ┆ 4317    ┆ 149836  │
│ 20.0 ┆ 72940  ┆ 44328   ┆ 1363724 │
│ 30.0 ┆ 177322 ┆ 50441   ┆ 693047  │
│ 40.0 ┆ 19355  ┆ 483512  ┆ 9320791 │
│ ...  ┆ ...    ┆ ...     ┆ ...     │
│ 60.0 ┆ 272469 ┆ 71418   ┆ 987741  │
│ 70.0 ┆ 13435  ┆ 2427    ┆ 29764   │
│ 80.0 ┆ 46360  ┆ 5111    ┆ 262923  │
│ 90.0 ┆ null   ┆ null    ┆ 6260    │
└──────┴────────┴─────────┴─────────┘

In [334]:
df = df_receipt.join(df_customer.with_columns([pl.col("customer_id"), pl.col("gender_cd"), pl.col("age")]), how = "left", on = 'customer_id')
df.groupby(["gender_cd", "age"]).agg(pl.col("amount").mean())

shape: (191, 3)
┌───────────┬─────┬────────────┐
│ gender_cd ┆ age ┆ amount     │
│ ---       ┆ --- ┆ ---        │
│ str       ┆ i64 ┆ f64        │
╞═══════════╪═════╪════════════╡
│ 1         ┆ 35  ┆ 303.614504 │
│ 0         ┆ 68  ┆ 331.723684 │
│ 9         ┆ 37  ┆ 427.125    │
│ 0         ┆ 23  ┆ 238.0      │
│ ...       ┆ ... ┆ ...        │
│ 1         ┆ 77  ┆ 250.333333 │
│ 1         ┆ 70  ┆ 329.757576 │
│ 1         ┆ 32  ┆ 366.296    │
│ 9         ┆ 43  ┆ 366.45283  │
└───────────┴─────┴────────────┘

## 044

In [387]:
df_sales_summary = (df_customer
    .join(df_receipt, how='left', on='customer_id')
    .with_columns([
        ((pl.col('age') / 10).floor() * 10).alias('era'),
        pl.col('gender_cd').apply(lambda x: gender_mapping[x]).alias('gender')
    ])
    .groupby(['gender', 'era']).agg(pl.col('amount').sum())
    .pivot(values='amount', index='era', columns='gender')
    .sort('era')
)

In [411]:
sexCode = {"male": "00", "female":"01", "unknown":"99" }

dfs = [df_sales_summary.select([pl.col("era"), pl.col(sex).alias("mount")]).with_columns(pl.Series([sexCode[sex]]*9).alias("hoge")) for sex in ["male", "female", "unknown"]]
pl.concat(dfs)

shape: (27, 3)
┌──────┬────────┬──────┐
│ era  ┆ mount  ┆ hoge │
│ ---  ┆ ---    ┆ ---  │
│ f64  ┆ i64    ┆ str  │
╞══════╪════════╪══════╡
│ 10.0 ┆ 1591   ┆ 00   │
│ 20.0 ┆ 72940  ┆ 00   │
│ 30.0 ┆ 177322 ┆ 00   │
│ 40.0 ┆ 19355  ┆ 00   │
│ ...  ┆ ...    ┆ ...  │
│ 60.0 ┆ 71418  ┆ 99   │
│ 70.0 ┆ 2427   ┆ 99   │
│ 80.0 ┆ 5111   ┆ 99   │
│ 90.0 ┆ null   ┆ 99   │
└──────┴────────┴──────┘

## 045

In [429]:
df_customer.select([pl.col("customer_id"), pl.col("birth_day").dt.strftime("%Y%m%d")]).head()

shape: (5, 2)
┌────────────────┬───────────┐
│ customer_id    ┆ birth_day │
│ ---            ┆ ---       │
│ str            ┆ str       │
╞════════════════╪═══════════╡
│ CS021313000114 ┆ 19810429  │
│ CS037613000071 ┆ 19520401  │
│ CS031415000172 ┆ 19761004  │
│ CS028811000001 ┆ 19330327  │
│ CS001215000145 ┆ 19950329  │
└────────────────┴───────────┘

## 046

In [435]:
df_customer.select([pl.col("application_date").str.strptime(pl.Date, "%Y%m%d"), pl.col("customer_id")]).head(10)

shape: (10, 2)
┌──────────────────┬────────────────┐
│ application_date ┆ customer_id    │
│ ---              ┆ ---            │
│ date             ┆ str            │
╞══════════════════╪════════════════╡
│ 2015-09-05       ┆ CS021313000114 │
│ 2015-04-14       ┆ CS037613000071 │
│ 2015-05-29       ┆ CS031415000172 │
│ 2016-01-15       ┆ CS028811000001 │
│ ...              ┆ ...            │
│ 2015-07-22       ┆ CS015414000103 │
│ 2015-05-15       ┆ CS029403000008 │
│ 2015-06-07       ┆ CS015804000004 │
│ 2015-07-28       ┆ CS033513000180 │
└──────────────────┴────────────────┘

## 047

In [440]:
df_receipt.head()

shape: (5, 9)
┌───────────┬───────────┬──────────┬──────────┬─────┬───────────┬──────────────┬──────────┬────────┐
│ sales_ymd ┆ sales_epo ┆ store_cd ┆ receipt_ ┆ ... ┆ customer_ ┆ product_cd   ┆ quantity ┆ amount │
│ ---       ┆ ch        ┆ ---      ┆ no       ┆     ┆ id        ┆ ---          ┆ ---      ┆ ---    │
│ i64       ┆ ---       ┆ str      ┆ ---      ┆     ┆ ---       ┆ str          ┆ i64      ┆ i64    │
│           ┆ i64       ┆          ┆ i64      ┆     ┆ str       ┆              ┆          ┆        │
╞═══════════╪═══════════╪══════════╪══════════╪═════╪═══════════╪══════════════╪══════════╪════════╡
│ 20181103  ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ CS0062140 ┆ P070305012   ┆ 1        ┆ 158    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00001     ┆              ┆          ┆        │
│ 20181118  ┆ 154249920 ┆ S13008   ┆ 1132     ┆ ... ┆ CS0084150 ┆ P070701017   ┆ 1        ┆ 81     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00097     ┆              ┆          ┆        │
│ 20170712  ┆ 149981760 ┆ S14028   ┆ 1102     ┆ ... ┆ CS0284140 ┆ P060101005   ┆ 1        ┆ 170    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00014     ┆              ┆          ┆        │
│ 20190205  ┆ 154932480 ┆ S14042   ┆ 1132     ┆ ... ┆ ZZ0000000 ┆ P050301001   ┆ 1        ┆ 25     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00000     ┆              ┆          ┆        │
│ 20180821  ┆ 153480960 ┆ S14025   ┆ 1102     ┆ ... ┆ CS0254150 ┆ P060102007   ┆ 1        ┆ 90     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00050     ┆              ┆          ┆        │
└───────────┴───────────┴──────────┴──────────┴─────┴───────────┴──────────────┴──────────┴────────┘

In [445]:
df_receipt.select([pl.col("receipt_no"), pl.col("receipt_sub_no"), pl.col("sales_ymd").cast(str).str.strptime(pl.Date, "%Y%m%d")]).head(5)

shape: (5, 3)
┌────────────┬────────────────┬────────────┐
│ receipt_no ┆ receipt_sub_no ┆ sales_ymd  │
│ ---        ┆ ---            ┆ ---        │
│ i64        ┆ i64            ┆ date       │
╞════════════╪════════════════╪════════════╡
│ 112        ┆ 1              ┆ 2018-11-03 │
│ 1132       ┆ 2              ┆ 2018-11-18 │
│ 1102       ┆ 1              ┆ 2017-07-12 │
│ 1132       ┆ 1              ┆ 2019-02-05 │
│ 1102       ┆ 2              ┆ 2018-08-21 │
└────────────┴────────────────┴────────────┘

## 048

In [454]:
pl.from_epoch?

Signature:
pl.from_epoch(
    column: 'str | pli.Expr | pli.Series | Sequence[int]',
    unit: 'EpochTimeUnit' = 's',
) -> 'pli.Expr | pli.Series'
Docstring:
Utility function that parses an epoch timestamp (or Unix time) to Polars Date(time).

Depending on the `unit` provided, this function will return a different dtype:
- unit="d" returns pl.Date
- unit="s" returns pl.Datetime["us"] (pl.Datetime's default)
- unit="ms" returns pl.Datetime["ms"]
- unit="us" returns pl.Datetime["us"]
- unit="ns" returns pl.Datetime["ns"]

Parameters
----------
column
    Series or expression to parse integers to pl.Datetime.
unit
    The unit of the timesteps since epoch time.

Examples
--------
>>> df = pl.DataFrame({"timestamp": [1666683077, 1666683099]}).lazy()
>>> df.select(pl.from_epoch(pl.col("timestamp"), unit="s")).collect()
shape: (2, 1)
┌─────────────────────┐
│ timestamp           │
│ ---                 │
│ datetime[μs]        │
╞═════════════════════╡
│ 2022-10-25 07:31:17 │
│ 2022-10-25 07:31:39 │
└─────────────────────┘

The function can also be used in an eager context by passing a Series.

>>> s = pl.Series([12345, 12346])
>>> pl.from_epoch(s, unit="d")
shape: (2,)
Series: '' [date]
[
        2003-10-20
        2003-10-21
]
File:      ~/.cache/pypoetry/virtualenvs/godaddy-3UyvmeC2-py3.9/lib/python3.9/site-packages/polars/internals/lazy_functions.py
Type:      function

In [459]:
df_receipt.select([pl.col("receipt_no") , pl.col("receipt_sub_no"), pl.from_epoch("sales_epoch", unit = "s").cast(pl.Date)]).head(10)

shape: (10, 3)
┌────────────┬────────────────┬─────────────┐
│ receipt_no ┆ receipt_sub_no ┆ sales_epoch │
│ ---        ┆ ---            ┆ ---         │
│ i64        ┆ i64            ┆ date        │
╞════════════╪════════════════╪═════════════╡
│ 112        ┆ 1              ┆ 2018-11-03  │
│ 1132       ┆ 2              ┆ 2018-11-18  │
│ 1102       ┆ 1              ┆ 2017-07-12  │
│ 1132       ┆ 1              ┆ 2019-02-05  │
│ ...        ┆ ...            ┆ ...         │
│ 1102       ┆ 2              ┆ 2018-12-05  │
│ 1102       ┆ 1              ┆ 2019-09-22  │
│ 1112       ┆ 2              ┆ 2017-05-04  │
│ 1102       ┆ 1              ┆ 2019-10-10  │
└────────────┴────────────────┴─────────────┘

## 049

In [462]:
df_receipt.select([pl.col("receipt_no") , pl.col("receipt_sub_no"), pl.from_epoch("sales_epoch", unit = "s").dt.year().alias("year")]).head(10)

shape: (10, 3)
┌────────────┬────────────────┬──────┐
│ receipt_no ┆ receipt_sub_no ┆ year │
│ ---        ┆ ---            ┆ ---  │
│ i64        ┆ i64            ┆ i32  │
╞════════════╪════════════════╪══════╡
│ 112        ┆ 1              ┆ 2018 │
│ 1132       ┆ 2              ┆ 2018 │
│ 1102       ┆ 1              ┆ 2017 │
│ 1132       ┆ 1              ┆ 2019 │
│ ...        ┆ ...            ┆ ...  │
│ 1102       ┆ 2              ┆ 2018 │
│ 1102       ┆ 1              ┆ 2019 │
│ 1112       ┆ 2              ┆ 2017 │
│ 1102       ┆ 1              ┆ 2019 │
└────────────┴────────────────┴──────┘

In [466]:
df_receipt.select([pl.col("receipt_no") , pl.col("receipt_sub_no"), pl.from_epoch("sales_epoch", unit = "s").dt.strftime("%m").alias("month")]).head(10)

shape: (10, 3)
┌────────────┬────────────────┬───────┐
│ receipt_no ┆ receipt_sub_no ┆ month │
│ ---        ┆ ---            ┆ ---   │
│ i64        ┆ i64            ┆ str   │
╞════════════╪════════════════╪═══════╡
│ 112        ┆ 1              ┆ 11    │
│ 1132       ┆ 2              ┆ 11    │
│ 1102       ┆ 1              ┆ 07    │
│ 1132       ┆ 1              ┆ 02    │
│ ...        ┆ ...            ┆ ...   │
│ 1102       ┆ 2              ┆ 12    │
│ 1102       ┆ 1              ┆ 09    │
│ 1112       ┆ 2              ┆ 05    │
│ 1102       ┆ 1              ┆ 10    │
└────────────┴────────────────┴───────┘

In [474]:
df_receipt.select([pl.col("receipt_no"), pl.col("receipt_sub_no"), pl.from_epoch("sales_epoch",unit='s').dt.strftime("%d")]).head(10)

shape: (10, 3)
┌────────────┬────────────────┬─────────────┐
│ receipt_no ┆ receipt_sub_no ┆ sales_epoch │
│ ---        ┆ ---            ┆ ---         │
│ i64        ┆ i64            ┆ str         │
╞════════════╪════════════════╪═════════════╡
│ 112        ┆ 1              ┆ 03          │
│ 1132       ┆ 2              ┆ 18          │
│ 1102       ┆ 1              ┆ 12          │
│ 1132       ┆ 1              ┆ 05          │
│ ...        ┆ ...            ┆ ...         │
│ 1102       ┆ 2              ┆ 05          │
│ 1102       ┆ 1              ┆ 22          │
│ 1112       ┆ 2              ┆ 04          │
│ 1102       ┆ 1              ┆ 10          │
└────────────┴────────────────┴─────────────┘

## 52

In [483]:
df_receipt.\
filter(pl.col("customer_id").str.starts_with("Z").is_not())\
.select(["customer_id", "amount"])\
.groupby("customer_id").sum()\
.with_columns(pl.when(pl.col("amount") >=2000).then("1").otherwise("0").alias("binary")).head(10)

shape: (10, 3)
┌────────────────┬────────┬────────┐
│ customer_id    ┆ amount ┆ binary │
│ ---            ┆ ---    ┆ ---    │
│ str            ┆ i64    ┆ str    │
╞════════════════╪════════╪════════╡
│ CS039415000073 ┆ 9594   ┆ 1      │
│ CS004415000269 ┆ 7943   ┆ 1      │
│ CS016415000070 ┆ 5399   ┆ 1      │
│ CS020512000097 ┆ 1881   ┆ 0      │
│ ...            ┆ ...    ┆ ...    │
│ CS005515000080 ┆ 4324   ┆ 1      │
│ CS007411000051 ┆ 538    ┆ 0      │
│ CS040613000056 ┆ 2764   ┆ 1      │
│ CS029415000253 ┆ 3026   ┆ 1      │
└────────────────┴────────┴────────┘

## 53

In [506]:
other = df_customer.select([pl.when(pl.col("postal_cd").str.slice(0,3).cast(pl.Int16).is_between(100,209, closed="both")).then(1).otherwise(0).alias("is_tokyo"), pl.col("customer_id")])
df_receipt.join(other, on = "customer_id", how = "left").groupby("is_tokyo").agg(pl.col("customer_id").n_unique())

shape: (3, 2)
┌──────────┬─────────────┐
│ is_tokyo ┆ customer_id │
│ ---      ┆ ---         │
│ i32      ┆ u32         │
╞══════════╪═════════════╡
│ 0        ┆ 3906        │
│ null     ┆ 1           │
│ 1        ┆ 4400        │
└──────────┴─────────────┘

## 054

In [508]:
df_customer.head()

shape: (5, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0213130 ┆ 大野       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14021     ┆ 20150905   ┆ 0-00000 │
│ 00114     ┆ あや子     ┆           ┆        ┆     ┆ 伊勢原市 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 粟窪**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0376130 ┆ 六角 雅彦  ┆ 9         ┆ 不明   ┆ ... ┆ 東京都江 ┆ S13037     ┆ 20150414   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 東区南砂 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0314150 ┆ 宇多田     ┆ 1         ┆ 女性   ┆ ... ┆ 東京都渋 ┆ S13031     ┆ 20150529   ┆ D-20100 │
│ 00172     ┆ 貴美子     ┆           ┆        ┆     ┆ 谷区代々 ┆            ┆            ┆ 325-C   │
│           ┆            ┆           ┆        ┆     ┆ 木****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0288110 ┆ 堀井       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20160115   ┆ 0-00000 │
│ 00001     ┆ かおり     ┆           ┆        ┆     ┆ 横浜市泉 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 区和泉町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0012150 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170605   ┆ 6-20090 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田区仲六 ┆            ┆            ┆ 929-2   │
│           ┆            ┆           ┆        ┆     ┆ 郷****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

In [516]:
 df_customer.select([
     pl.col("customer_id"), 
     pl.col("address"), 
     
     pl.when(pl.col("address").str.contains("埼玉県")).then(11)\
     .when(pl.col("address").str.contains("千葉県")).then(12)\
     .when(pl.col("address").str.contains("東京都")).then(13)\
     .when(pl.col("address").str.contains("神奈川県")).then(14)\
     .alias("prefecture_code")
 ]).head()

shape: (5, 3)
┌────────────────┬────────────────────────────────────┬─────────────────┐
│ customer_id    ┆ address                            ┆ prefecture_code │
│ ---            ┆ ---                                ┆ ---             │
│ str            ┆ str                                ┆ i32             │
╞════════════════╪════════════════════════════════════╪═════════════════╡
│ CS021313000114 ┆ 神奈川県伊勢原市粟窪**********     ┆ 14              │
│ CS037613000071 ┆ 東京都江東区南砂**********         ┆ 13              │
│ CS031415000172 ┆ 東京都渋谷区代々木**********       ┆ 13              │
│ CS028811000001 ┆ 神奈川県横浜市泉区和泉町********** ┆ 14              │
│ CS001215000145 ┆ 東京都大田区仲六郷**********       ┆ 13              │
└────────────────┴────────────────────────────────────┴─────────────────┘

## 055

In [536]:
df_receipt.groupby("customer_id").agg([pl.col("amount").sum()])\
.select([
    pl.col("amount").quantile(0).alias("0.00 quantitle").alias("0.00"),
    pl.col("amount").quantile(0.25).alias("0.25 quantitle").alias("0.25"),
    pl.col("amount").quantile(0.5 ).alias("0.50 quantitle").alias("0.50"),
    pl.col("amount").quantile(0.75).alias("0.75 quantitle").alias("0.75"),
    pl.col("amount").quantile(1).alias("1.00 quantitle").alias("1.00")
])

shape: (1, 5)
┌──────┬───────┬────────┬────────┬─────────────┐
│ 0.00 ┆ 0.25  ┆ 0.50   ┆ 0.75   ┆ 1.00        │
│ ---  ┆ ---   ┆ ---    ┆ ---    ┆ ---         │
│ f64  ┆ f64   ┆ f64    ┆ f64    ┆ f64         │
╞══════╪═══════╪════════╪════════╪═════════════╡
│ 70.0 ┆ 548.0 ┆ 1478.0 ┆ 3652.0 ┆ 1.2395003e7 │
└──────┴───────┴────────┴────────┴─────────────┘

In [565]:
df_receipt.groupby("customer_id").agg([pl.col("amount").sum()]).with_columns(
    [pl.when(pl.col("amount") < pl.col("amount").quantile(0.25))\
    .then(1)\
    .when(pl.col("amount") < pl.col("amount").quantile(0.50))\
    .then(2)\
    .when(pl.col("amount").is_between(pl.col("amount").quantile(0.50), pl.col("amount").quantile(0.75)))\
    .then(3)\
    .when(pl.col("amount").is_between(pl.col("amount").quantile(0.75), pl.col("amount").quantile(1.00)))\
    .then(4)\
    .alias("rank")]
).sort("customer_id").head(10)

shape: (10, 3)
┌────────────────┬────────┬──────┐
│ customer_id    ┆ amount ┆ rank │
│ ---            ┆ ---    ┆ ---  │
│ str            ┆ i64    ┆ i32  │
╞════════════════╪════════╪══════╡
│ CS001113000004 ┆ 1298   ┆ 2    │
│ CS001114000005 ┆ 626    ┆ 2    │
│ CS001115000010 ┆ 3044   ┆ 3    │
│ CS001205000004 ┆ 1988   ┆ 3    │
│ ...            ┆ ...    ┆ ...  │
│ CS001212000027 ┆ 448    ┆ 1    │
│ CS001212000031 ┆ 296    ┆ 1    │
│ CS001212000046 ┆ 228    ┆ 1    │
│ CS001212000070 ┆ 456    ┆ 1    │
└────────────────┴────────┴──────┘

## 056

In [567]:
df_customer.head()

shape: (5, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0213130 ┆ 大野       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14021     ┆ 20150905   ┆ 0-00000 │
│ 00114     ┆ あや子     ┆           ┆        ┆     ┆ 伊勢原市 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 粟窪**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0376130 ┆ 六角 雅彦  ┆ 9         ┆ 不明   ┆ ... ┆ 東京都江 ┆ S13037     ┆ 20150414   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 東区南砂 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0314150 ┆ 宇多田     ┆ 1         ┆ 女性   ┆ ... ┆ 東京都渋 ┆ S13031     ┆ 20150529   ┆ D-20100 │
│ 00172     ┆ 貴美子     ┆           ┆        ┆     ┆ 谷区代々 ┆            ┆            ┆ 325-C   │
│           ┆            ┆           ┆        ┆     ┆ 木****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0288110 ┆ 堀井       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20160115   ┆ 0-00000 │
│ 00001     ┆ かおり     ┆           ┆        ┆     ┆ 横浜市泉 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 区和泉町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0012150 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170605   ┆ 6-20090 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田区仲六 ┆            ┆            ┆ 929-2   │
│           ┆            ┆           ┆        ┆     ┆ 郷****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

In [576]:
df_customer.select(
    [
        pl.col("customer_id"),
        pl.col("birth_day"),
        pl.when
        ((pl.col("age")//10) >6)
        .then(6)
        .otherwise(pl.col("age")//10)
        .alias("era")
    ]
).sort("customer_id").head(10)

shape: (10, 3)
┌────────────────┬────────────┬─────┐
│ customer_id    ┆ birth_day  ┆ era │
│ ---            ┆ ---        ┆ --- │
│ str            ┆ date       ┆ i64 │
╞════════════════╪════════════╪═════╡
│ CS001105000001 ┆ 2000-01-14 ┆ 1   │
│ CS001112000009 ┆ 2006-08-24 ┆ 1   │
│ CS001112000019 ┆ 2001-01-31 ┆ 1   │
│ CS001112000021 ┆ 2001-12-15 ┆ 1   │
│ ...            ┆ ...        ┆ ... │
│ CS001112000029 ┆ 2005-01-24 ┆ 1   │
│ CS001112000030 ┆ 2003-03-02 ┆ 1   │
│ CS001113000004 ┆ 2003-02-22 ┆ 1   │
│ CS001113000010 ┆ 2005-05-09 ┆ 1   │
└────────────────┴────────────┴─────┘

## 57

In [591]:
df_customer.with_columns([
    pl.when
    ((pl.col("age")//10) >6)
    .then(6)
    .otherwise(pl.col("age")//10)
    .alias("era")]).select(
    [
        pl.col("customer_id"),
        pl.col("birth_day"),        
        (pl.when((pl.col("age")//10) >6)
        .then(6)
        .otherwise(pl.col("age")//10)
        .cast(str) +"_"+ pl.col("gender_cd")).alias("era_age"),
        
    ]
).sort("customer_id").head(10)

shape: (10, 3)
┌────────────────┬────────────┬─────────┐
│ customer_id    ┆ birth_day  ┆ era_age │
│ ---            ┆ ---        ┆ ---     │
│ str            ┆ date       ┆ str     │
╞════════════════╪════════════╪═════════╡
│ CS001105000001 ┆ 2000-01-14 ┆ 1_0     │
│ CS001112000009 ┆ 2006-08-24 ┆ 1_1     │
│ CS001112000019 ┆ 2001-01-31 ┆ 1_1     │
│ CS001112000021 ┆ 2001-12-15 ┆ 1_1     │
│ ...            ┆ ...        ┆ ...     │
│ CS001112000029 ┆ 2005-01-24 ┆ 1_1     │
│ CS001112000030 ┆ 2003-03-02 ┆ 1_1     │
│ CS001113000004 ┆ 2003-02-22 ┆ 1_1     │
│ CS001113000010 ┆ 2005-05-09 ┆ 1_1     │
└────────────────┴────────────┴─────────┘

## 058

In [601]:
df_customer.head()

shape: (5, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0213130 ┆ 大野       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14021     ┆ 20150905   ┆ 0-00000 │
│ 00114     ┆ あや子     ┆           ┆        ┆     ┆ 伊勢原市 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 粟窪**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0376130 ┆ 六角 雅彦  ┆ 9         ┆ 不明   ┆ ... ┆ 東京都江 ┆ S13037     ┆ 20150414   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 東区南砂 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0314150 ┆ 宇多田     ┆ 1         ┆ 女性   ┆ ... ┆ 東京都渋 ┆ S13031     ┆ 20150529   ┆ D-20100 │
│ 00172     ┆ 貴美子     ┆           ┆        ┆     ┆ 谷区代々 ┆            ┆            ┆ 325-C   │
│           ┆            ┆           ┆        ┆     ┆ 木****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0288110 ┆ 堀井       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20160115   ┆ 0-00000 │
│ 00001     ┆ かおり     ┆           ┆        ┆     ┆ 横浜市泉 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 区和泉町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0012150 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170605   ┆ 6-20090 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田区仲六 ┆            ┆            ┆ 929-2   │
│           ┆            ┆           ┆        ┆     ┆ 郷****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

In [617]:
df_customer.select(
    [
        pl.col("customer_id"),
        *pl.get_dummies(df_customer.select("gender_cd"))
    ]
).head()

shape: (5, 4)
┌────────────────┬─────────────┬─────────────┬─────────────┐
│ customer_id    ┆ gender_cd_0 ┆ gender_cd_1 ┆ gender_cd_9 │
│ ---            ┆ ---         ┆ ---         ┆ ---         │
│ str            ┆ u8          ┆ u8          ┆ u8          │
╞════════════════╪═════════════╪═════════════╪═════════════╡
│ CS021313000114 ┆ 0           ┆ 1           ┆ 0           │
│ CS037613000071 ┆ 0           ┆ 0           ┆ 1           │
│ CS031415000172 ┆ 0           ┆ 1           ┆ 0           │
│ CS028811000001 ┆ 0           ┆ 1           ┆ 0           │
│ CS001215000145 ┆ 0           ┆ 1           ┆ 0           │
└────────────────┴─────────────┴─────────────┴─────────────┘

## 59

In [636]:
df_receipt.filter(pl.col("customer_id").str.starts_with("Z").is_not()).groupby("customer_id").agg([pl.col("amount").sum()]).select(
    [
        pl.col("customer_id"),
        pl.col("amount"),
        ((pl.col("amount") - pl.col("amount").mean())/pl.col("amount").std()).alias("norm_amount")
    ]    
).sort("customer_id").head(10)

shape: (10, 3)
┌────────────────┬────────┬─────────────┐
│ customer_id    ┆ amount ┆ norm_amount │
│ ---            ┆ ---    ┆ ---         │
│ str            ┆ i64    ┆ f64         │
╞════════════════╪════════╪═════════════╡
│ CS001113000004 ┆ 1298   ┆ -0.45935    │
│ CS001114000005 ┆ 626    ┆ -0.706348   │
│ CS001115000010 ┆ 3044   ┆ 0.182403    │
│ CS001205000004 ┆ 1988   ┆ -0.205737   │
│ ...            ┆ ...    ┆ ...         │
│ CS001212000027 ┆ 448    ┆ -0.771773   │
│ CS001212000031 ┆ 296    ┆ -0.827641   │
│ CS001212000046 ┆ 228    ┆ -0.852635   │
│ CS001212000070 ┆ 456    ┆ -0.768832   │
└────────────────┴────────┴─────────────┘

## 60

In [642]:
df_receipt.filter(pl.col("customer_id").str.starts_with("Z").is_not()).groupby("customer_id").agg([pl.col("amount").sum()]).select(
    [
        pl.col("customer_id"),
        pl.col("amount"),
        ((pl.col("amount") - pl.col("amount").min())/(pl.col("amount").max() - pl.col("amount").min())).alias("norm_amount")
    ]    
).sort("customer_id").head(10)

shape: (10, 3)
┌────────────────┬────────┬─────────────┐
│ customer_id    ┆ amount ┆ norm_amount │
│ ---            ┆ ---    ┆ ---         │
│ str            ┆ i64    ┆ f64         │
╞════════════════╪════════╪═════════════╡
│ CS001113000004 ┆ 1298   ┆ 0.053354    │
│ CS001114000005 ┆ 626    ┆ 0.024157    │
│ CS001115000010 ┆ 3044   ┆ 0.129214    │
│ CS001205000004 ┆ 1988   ┆ 0.083333    │
│ ...            ┆ ...    ┆ ...         │
│ CS001212000027 ┆ 448    ┆ 0.016423    │
│ CS001212000031 ┆ 296    ┆ 0.009819    │
│ CS001212000046 ┆ 228    ┆ 0.006865    │
│ CS001212000070 ┆ 456    ┆ 0.016771    │
└────────────────┴────────┴─────────────┘

## 061

In [661]:
df_receipt.filter(pl.col("customer_id").str.contains("^Z").is_not()).groupby("customer_id").agg([pl.col("amount").sum()]).select(
    [
        pl.col("customer_id"),
        pl.col("amount"),
        pl.col("amount").alias("log amount").log10(),
    ]
).sort("customer_id").head(10)

shape: (10, 3)
┌────────────────┬────────┬────────────┐
│ customer_id    ┆ amount ┆ log amount │
│ ---            ┆ ---    ┆ ---        │
│ str            ┆ i64    ┆ f64        │
╞════════════════╪════════╪════════════╡
│ CS001113000004 ┆ 1298   ┆ 3.113275   │
│ CS001114000005 ┆ 626    ┆ 2.796574   │
│ CS001115000010 ┆ 3044   ┆ 3.483445   │
│ CS001205000004 ┆ 1988   ┆ 3.298416   │
│ ...            ┆ ...    ┆ ...        │
│ CS001212000027 ┆ 448    ┆ 2.651278   │
│ CS001212000031 ┆ 296    ┆ 2.471292   │
│ CS001212000046 ┆ 228    ┆ 2.357935   │
│ CS001212000070 ┆ 456    ┆ 2.658965   │
└────────────────┴────────┴────────────┘

In [663]:
df_receipt.filter(pl.col("customer_id").str.contains("^Z").is_not()).groupby("customer_id").agg([pl.col("amount").sum()]).select(
    [
        pl.col("customer_id"),
        pl.col("amount"),
        pl.col("amount").alias("log amount").log(),
    ]
).sort("customer_id").head(10)

shape: (10, 3)
┌────────────────┬────────┬────────────┐
│ customer_id    ┆ amount ┆ log amount │
│ ---            ┆ ---    ┆ ---        │
│ str            ┆ i64    ┆ f64        │
╞════════════════╪════════╪════════════╡
│ CS001113000004 ┆ 1298   ┆ 7.16858    │
│ CS001114000005 ┆ 626    ┆ 6.43935    │
│ CS001115000010 ┆ 3044   ┆ 8.020928   │
│ CS001205000004 ┆ 1988   ┆ 7.594884   │
│ ...            ┆ ...    ┆ ...        │
│ CS001212000027 ┆ 448    ┆ 6.104793   │
│ CS001212000031 ┆ 296    ┆ 5.690359   │
│ CS001212000046 ┆ 228    ┆ 5.429346   │
│ CS001212000070 ┆ 456    ┆ 6.122493   │
└────────────────┴────────┴────────────┘

## 063

In [667]:
df_product.with_columns(
    [
        (pl.col("unit_price") - pl.col("unit_cost")).alias("profit")
    ]
).head()

shape: (5, 7)
┌────────────┬─────────────────┬────────────────┬────────────────┬────────────┬───────────┬────────┐
│ product_cd ┆ category_major_ ┆ category_mediu ┆ category_small ┆ unit_price ┆ unit_cost ┆ profit │
│ ---        ┆ cd              ┆ m_cd           ┆ _cd            ┆ ---        ┆ ---       ┆ ---    │
│ str        ┆ ---             ┆ ---            ┆ ---            ┆ i64        ┆ i64       ┆ i64    │
│            ┆ str             ┆ str            ┆ str            ┆            ┆           ┆        │
╞════════════╪═════════════════╪════════════════╪════════════════╪════════════╪═══════════╪════════╡
│ P040101001 ┆ 04              ┆ 0401           ┆ 040101         ┆ 198        ┆ 149       ┆ 49     │
│ P040101002 ┆ 04              ┆ 0401           ┆ 040101         ┆ 218        ┆ 164       ┆ 54     │
│ P040101003 ┆ 04              ┆ 0401           ┆ 040101         ┆ 230        ┆ 173       ┆ 57     │
│ P040101004 ┆ 04              ┆ 0401           ┆ 040101         ┆ 248        ┆ 186       ┆ 62     │
│ P040101005 ┆ 04              ┆ 0401           ┆ 040101         ┆ 268        ┆ 201       ┆ 67     │
└────────────┴─────────────────┴────────────────┴────────────────┴────────────┴───────────┴────────┘

## 064

In [697]:
df_product.select(
    [
        ((pl.col("unit_price") - pl.col("unit_cost")).cast(pl.Float64)/pl.col("unit_price")).alias("profit").drop_nulls()
    ]
).get_column("profit").mean()

0.24911389885177004

## 065

In [706]:
df_product.with_columns(
    [        
        (pl.col("unit_cost")/0.7).floor().alias("new_price")
    ]
).with_columns(
    ((pl.col("new_price") - pl.col("unit_cost")).cast(pl.Float64)/pl.col("new_price")).alias("profit")
).head(10)

shape: (10, 8)
┌──────────┬────────────┬────────────┬────────────┬─────────────┬───────────┬───────────┬──────────┐
│ product_ ┆ category_m ┆ category_m ┆ category_s ┆ unit_price  ┆ unit_cost ┆ new_price ┆ profit   │
│ cd       ┆ ajor_cd    ┆ edium_cd   ┆ mall_cd    ┆ ---         ┆ ---       ┆ ---       ┆ ---      │
│ ---      ┆ ---        ┆ ---        ┆ ---        ┆ i64         ┆ i64       ┆ f64       ┆ f64      │
│ str      ┆ str        ┆ str        ┆ str        ┆             ┆           ┆           ┆          │
╞══════════╪════════════╪════════════╪════════════╪═════════════╪═══════════╪═══════════╪══════════╡
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 198         ┆ 149       ┆ 212.0     ┆ 0.29717  │
│ 01       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 218         ┆ 164       ┆ 234.0     ┆ 0.299145 │
│ 02       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 230         ┆ 173       ┆ 247.0     ┆ 0.299595 │
│ 03       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 248         ┆ 186       ┆ 265.0     ┆ 0.298113 │
│ 04       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ ...      ┆ ...        ┆ ...        ┆ ...        ┆ ...         ┆ ...       ┆ ...       ┆ ...      │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 338         ┆ 254       ┆ 362.0     ┆ 0.298343 │
│ 07       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 420         ┆ 315       ┆ 450.0     ┆ 0.3      │
│ 08       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 498         ┆ 374       ┆ 534.0     ┆ 0.299625 │
│ 09       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 580         ┆ 435       ┆ 621.0     ┆ 0.299517 │
│ 10       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
└──────────┴────────────┴────────────┴────────────┴─────────────┴───────────┴───────────┴──────────┘

## 066

In [709]:
df_product.with_columns(
    [        
        (pl.col("unit_cost")/0.7).round(decimals=0).alias("new_price")
    ]    
).with_columns(
    ((pl.col("new_price") - pl.col("unit_cost")).cast(pl.Float64)/pl.col("new_price")).alias("profit")
).head(10)

shape: (10, 8)
┌──────────┬────────────┬────────────┬────────────┬─────────────┬───────────┬───────────┬──────────┐
│ product_ ┆ category_m ┆ category_m ┆ category_s ┆ unit_price  ┆ unit_cost ┆ new_price ┆ profit   │
│ cd       ┆ ajor_cd    ┆ edium_cd   ┆ mall_cd    ┆ ---         ┆ ---       ┆ ---       ┆ ---      │
│ ---      ┆ ---        ┆ ---        ┆ ---        ┆ i64         ┆ i64       ┆ f64       ┆ f64      │
│ str      ┆ str        ┆ str        ┆ str        ┆             ┆           ┆           ┆          │
╞══════════╪════════════╪════════════╪════════════╪═════════════╪═══════════╪═══════════╪══════════╡
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 198         ┆ 149       ┆ 213.0     ┆ 0.300469 │
│ 01       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 218         ┆ 164       ┆ 234.0     ┆ 0.299145 │
│ 02       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 230         ┆ 173       ┆ 247.0     ┆ 0.299595 │
│ 03       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 248         ┆ 186       ┆ 266.0     ┆ 0.300752 │
│ 04       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ ...      ┆ ...        ┆ ...        ┆ ...        ┆ ...         ┆ ...       ┆ ...       ┆ ...      │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 338         ┆ 254       ┆ 363.0     ┆ 0.300275 │
│ 07       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 420         ┆ 315       ┆ 450.0     ┆ 0.3      │
│ 08       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 498         ┆ 374       ┆ 534.0     ┆ 0.299625 │
│ 09       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 580         ┆ 435       ┆ 621.0     ┆ 0.299517 │
│ 10       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
└──────────┴────────────┴────────────┴────────────┴─────────────┴───────────┴───────────┴──────────┘

## 067

In [712]:
df_product.with_columns(
    [        
        (pl.col("unit_cost")/0.7).ceil().alias("new_price")
    ]
).with_columns(
    ((pl.col("new_price") - pl.col("unit_cost")).cast(pl.Float64)/pl.col("new_price")).alias("profit")
).head(10)

shape: (10, 8)
┌──────────┬────────────┬────────────┬────────────┬─────────────┬───────────┬───────────┬──────────┐
│ product_ ┆ category_m ┆ category_m ┆ category_s ┆ unit_price  ┆ unit_cost ┆ new_price ┆ profit   │
│ cd       ┆ ajor_cd    ┆ edium_cd   ┆ mall_cd    ┆ ---         ┆ ---       ┆ ---       ┆ ---      │
│ ---      ┆ ---        ┆ ---        ┆ ---        ┆ i64         ┆ i64       ┆ f64       ┆ f64      │
│ str      ┆ str        ┆ str        ┆ str        ┆             ┆           ┆           ┆          │
╞══════════╪════════════╪════════════╪════════════╪═════════════╪═══════════╪═══════════╪══════════╡
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 198         ┆ 149       ┆ 213.0     ┆ 0.300469 │
│ 01       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 218         ┆ 164       ┆ 235.0     ┆ 0.302128 │
│ 02       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 230         ┆ 173       ┆ 248.0     ┆ 0.302419 │
│ 03       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 248         ┆ 186       ┆ 266.0     ┆ 0.300752 │
│ 04       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ ...      ┆ ...        ┆ ...        ┆ ...        ┆ ...         ┆ ...       ┆ ...       ┆ ...      │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 338         ┆ 254       ┆ 363.0     ┆ 0.300275 │
│ 07       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 420         ┆ 315       ┆ 451.0     ┆ 0.301552 │
│ 08       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 498         ┆ 374       ┆ 535.0     ┆ 0.300935 │
│ 09       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
│ P0401010 ┆ 04         ┆ 0401       ┆ 040101     ┆ 580         ┆ 435       ┆ 622.0     ┆ 0.300643 │
│ 10       ┆            ┆            ┆            ┆             ┆           ┆           ┆          │
└──────────┴────────────┴────────────┴────────────┴─────────────┴───────────┴───────────┴──────────┘

## 068

In [ ]:
df_product.with_columns(
    [        
        (pl.col("unit_cost")/0.7).ceil().alias("new_price")
    ]
).with_columns(
    ((pl.col("new_price") - pl.col("unit_cost")).cast(pl.Float64)/pl.col("new_price")).alias("profit")
).head(10)

## 068

In [718]:
df_product.with_columns(
    [
        (pl.col("unit_price")*1.1).alias("Taxinclude").floor()
    ]
).head()

shape: (5, 7)
┌────────────┬───────────────┬───────────────┬───────────────┬────────────┬───────────┬────────────┐
│ product_cd ┆ category_majo ┆ category_medi ┆ category_smal ┆ unit_price ┆ unit_cost ┆ Taxinclude │
│ ---        ┆ r_cd          ┆ um_cd         ┆ l_cd          ┆ ---        ┆ ---       ┆ ---        │
│ str        ┆ ---           ┆ ---           ┆ ---           ┆ i64        ┆ i64       ┆ f64        │
│            ┆ str           ┆ str           ┆ str           ┆            ┆           ┆            │
╞════════════╪═══════════════╪═══════════════╪═══════════════╪════════════╪═══════════╪════════════╡
│ P040101001 ┆ 04            ┆ 0401          ┆ 040101        ┆ 198        ┆ 149       ┆ 217.0      │
│ P040101002 ┆ 04            ┆ 0401          ┆ 040101        ┆ 218        ┆ 164       ┆ 239.0      │
│ P040101003 ┆ 04            ┆ 0401          ┆ 040101        ┆ 230        ┆ 173       ┆ 253.0      │
│ P040101004 ┆ 04            ┆ 0401          ┆ 040101        ┆ 248        ┆ 186       ┆ 272.0      │
│ P040101005 ┆ 04            ┆ 0401          ┆ 040101        ┆ 268        ┆ 201       ┆ 294.0      │
└────────────┴───────────────┴───────────────┴───────────────┴────────────┴───────────┴────────────┘

## 69

In [719]:
df_receipt.head()

shape: (5, 9)
┌───────────┬───────────┬──────────┬──────────┬─────┬───────────┬──────────────┬──────────┬────────┐
│ sales_ymd ┆ sales_epo ┆ store_cd ┆ receipt_ ┆ ... ┆ customer_ ┆ product_cd   ┆ quantity ┆ amount │
│ ---       ┆ ch        ┆ ---      ┆ no       ┆     ┆ id        ┆ ---          ┆ ---      ┆ ---    │
│ i64       ┆ ---       ┆ str      ┆ ---      ┆     ┆ ---       ┆ str          ┆ i64      ┆ i64    │
│           ┆ i64       ┆          ┆ i64      ┆     ┆ str       ┆              ┆          ┆        │
╞═══════════╪═══════════╪══════════╪══════════╪═════╪═══════════╪══════════════╪══════════╪════════╡
│ 20181103  ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ CS0062140 ┆ P070305012   ┆ 1        ┆ 158    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00001     ┆              ┆          ┆        │
│ 20181118  ┆ 154249920 ┆ S13008   ┆ 1132     ┆ ... ┆ CS0084150 ┆ P070701017   ┆ 1        ┆ 81     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00097     ┆              ┆          ┆        │
│ 20170712  ┆ 149981760 ┆ S14028   ┆ 1102     ┆ ... ┆ CS0284140 ┆ P060101005   ┆ 1        ┆ 170    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00014     ┆              ┆          ┆        │
│ 20190205  ┆ 154932480 ┆ S14042   ┆ 1132     ┆ ... ┆ ZZ0000000 ┆ P050301001   ┆ 1        ┆ 25     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00000     ┆              ┆          ┆        │
│ 20180821  ┆ 153480960 ┆ S14025   ┆ 1102     ┆ ... ┆ CS0254150 ┆ P060102007   ┆ 1        ┆ 90     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00050     ┆              ┆          ┆        │
└───────────┴───────────┴──────────┴──────────┴─────┴───────────┴──────────────┴──────────┴────────┘

In [721]:
df_product.head()

shape: (5, 6)
┌────────────┬───────────────────┬────────────────────┬───────────────────┬────────────┬───────────┐
│ product_cd ┆ category_major_cd ┆ category_medium_cd ┆ category_small_cd ┆ unit_price ┆ unit_cost │
│ ---        ┆ ---               ┆ ---                ┆ ---               ┆ ---        ┆ ---       │
│ str        ┆ str               ┆ str                ┆ str               ┆ i64        ┆ i64       │
╞════════════╪═══════════════════╪════════════════════╪═══════════════════╪════════════╪═══════════╡
│ P040101001 ┆ 04                ┆ 0401               ┆ 040101            ┆ 198        ┆ 149       │
│ P040101002 ┆ 04                ┆ 0401               ┆ 040101            ┆ 218        ┆ 164       │
│ P040101003 ┆ 04                ┆ 0401               ┆ 040101            ┆ 230        ┆ 173       │
│ P040101004 ┆ 04                ┆ 0401               ┆ 040101            ┆ 248        ┆ 186       │
│ P040101005 ┆ 04                ┆ 0401               ┆ 040101            ┆ 268        ┆ 201       │
└────────────┴───────────────────┴────────────────────┴───────────────────┴────────────┴───────────┘

In [756]:
df_receipt.join(df_product, on = "product_cd", how = 'inner').groupby("customer_id")\
.agg([ (pl.col("unit_price")*pl.col("quantity")).sum().alias("sum_A"), (pl.col("unit_price")*pl.col("quantity")).filter(pl.col("category_major_cd") == "07").sum().alias("sum_B")])\
.filter(pl.col("sum_B").is_not_null())\
.with_columns([
    (pl.col("sum_B")/pl.col("sum_A")).alias("rate")
]).sort("customer_id").head()

shape: (5, 4)
┌────────────────┬───────┬───────┬──────────┐
│ customer_id    ┆ sum_A ┆ sum_B ┆ rate     │
│ ---            ┆ ---   ┆ ---   ┆ ---      │
│ str            ┆ i64   ┆ i64   ┆ f64      │
╞════════════════╪═══════╪═══════╪══════════╡
│ CS001113000004 ┆ 1298  ┆ 1298  ┆ 1.0      │
│ CS001114000005 ┆ 626   ┆ 486   ┆ 0.776358 │
│ CS001115000010 ┆ 3044  ┆ 2694  ┆ 0.88502  │
│ CS001205000004 ┆ 1988  ┆ 346   ┆ 0.174044 │
│ CS001205000006 ┆ 3337  ┆ 2004  ┆ 0.600539 │
└────────────────┴───────┴───────┴──────────┘

## 070

In [773]:
df_receipt.head()

shape: (5, 9)
┌───────────┬───────────┬──────────┬──────────┬─────┬───────────┬──────────────┬──────────┬────────┐
│ sales_ymd ┆ sales_epo ┆ store_cd ┆ receipt_ ┆ ... ┆ customer_ ┆ product_cd   ┆ quantity ┆ amount │
│ ---       ┆ ch        ┆ ---      ┆ no       ┆     ┆ id        ┆ ---          ┆ ---      ┆ ---    │
│ i64       ┆ ---       ┆ str      ┆ ---      ┆     ┆ ---       ┆ str          ┆ i64      ┆ i64    │
│           ┆ i64       ┆          ┆ i64      ┆     ┆ str       ┆              ┆          ┆        │
╞═══════════╪═══════════╪══════════╪══════════╪═════╪═══════════╪══════════════╪══════════╪════════╡
│ 20181103  ┆ 154120320 ┆ S14006   ┆ 112      ┆ ... ┆ CS0062140 ┆ P070305012   ┆ 1        ┆ 158    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00001     ┆              ┆          ┆        │
│ 20181118  ┆ 154249920 ┆ S13008   ┆ 1132     ┆ ... ┆ CS0084150 ┆ P070701017   ┆ 1        ┆ 81     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00097     ┆              ┆          ┆        │
│ 20170712  ┆ 149981760 ┆ S14028   ┆ 1102     ┆ ... ┆ CS0284140 ┆ P060101005   ┆ 1        ┆ 170    │
│           ┆ 0         ┆          ┆          ┆     ┆ 00014     ┆              ┆          ┆        │
│ 20190205  ┆ 154932480 ┆ S14042   ┆ 1132     ┆ ... ┆ ZZ0000000 ┆ P050301001   ┆ 1        ┆ 25     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00000     ┆              ┆          ┆        │
│ 20180821  ┆ 153480960 ┆ S14025   ┆ 1102     ┆ ... ┆ CS0254150 ┆ P060102007   ┆ 1        ┆ 90     │
│           ┆ 0         ┆          ┆          ┆     ┆ 00050     ┆              ┆          ┆        │
└───────────┴───────────┴──────────┴──────────┴─────┴───────────┴──────────────┴──────────┴────────┘

In [776]:
df_customer.head()

shape: (5, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0213130 ┆ 大野       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14021     ┆ 20150905   ┆ 0-00000 │
│ 00114     ┆ あや子     ┆           ┆        ┆     ┆ 伊勢原市 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 粟窪**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0376130 ┆ 六角 雅彦  ┆ 9         ┆ 不明   ┆ ... ┆ 東京都江 ┆ S13037     ┆ 20150414   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 東区南砂 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0314150 ┆ 宇多田     ┆ 1         ┆ 女性   ┆ ... ┆ 東京都渋 ┆ S13031     ┆ 20150529   ┆ D-20100 │
│ 00172     ┆ 貴美子     ┆           ┆        ┆     ┆ 谷区代々 ┆            ┆            ┆ 325-C   │
│           ┆            ┆           ┆        ┆     ┆ 木****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0288110 ┆ 堀井       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20160115   ┆ 0-00000 │
│ 00001     ┆ かおり     ┆           ┆        ┆     ┆ 横浜市泉 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 区和泉町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0012150 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170605   ┆ 6-20090 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田区仲六 ┆            ┆            ┆ 929-2   │
│           ┆            ┆           ┆        ┆     ┆ 郷****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

In [807]:
df_customer.head()

shape: (5, 11)
┌───────────┬────────────┬───────────┬────────┬─────┬──────────┬────────────┬────────────┬─────────┐
│ customer_ ┆ customer_n ┆ gender_cd ┆ gender ┆ ... ┆ address  ┆ applicatio ┆ applicatio ┆ status_ │
│ id        ┆ ame        ┆ ---       ┆ ---    ┆     ┆ ---      ┆ n_store_cd ┆ n_date     ┆ cd      │
│ ---       ┆ ---        ┆ str       ┆ str    ┆     ┆ str      ┆ ---        ┆ ---        ┆ ---     │
│ str       ┆ str        ┆           ┆        ┆     ┆          ┆ str        ┆ str        ┆ str     │
╞═══════════╪════════════╪═══════════╪════════╪═════╪══════════╪════════════╪════════════╪═════════╡
│ CS0213130 ┆ 大野       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14021     ┆ 20150905   ┆ 0-00000 │
│ 00114     ┆ あや子     ┆           ┆        ┆     ┆ 伊勢原市 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 粟窪**** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******   ┆            ┆            ┆         │
│ CS0376130 ┆ 六角 雅彦  ┆ 9         ┆ 不明   ┆ ... ┆ 東京都江 ┆ S13037     ┆ 20150414   ┆ 0-00000 │
│ 00071     ┆            ┆           ┆        ┆     ┆ 東区南砂 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0314150 ┆ 宇多田     ┆ 1         ┆ 女性   ┆ ... ┆ 東京都渋 ┆ S13031     ┆ 20150529   ┆ D-20100 │
│ 00172     ┆ 貴美子     ┆           ┆        ┆     ┆ 谷区代々 ┆            ┆            ┆ 325-C   │
│           ┆            ┆           ┆        ┆     ┆ 木****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
│ CS0288110 ┆ 堀井       ┆ 1         ┆ 女性   ┆ ... ┆ 神奈川県 ┆ S14028     ┆ 20160115   ┆ 0-00000 │
│ 00001     ┆ かおり     ┆           ┆        ┆     ┆ 横浜市泉 ┆            ┆            ┆ 000-0   │
│           ┆            ┆           ┆        ┆     ┆ 区和泉町 ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ******** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ **       ┆            ┆            ┆         │
│ CS0012150 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ ... ┆ 東京都大 ┆ S13001     ┆ 20170605   ┆ 6-20090 │
│ 00145     ┆            ┆           ┆        ┆     ┆ 田区仲六 ┆            ┆            ┆ 929-2   │
│           ┆            ┆           ┆        ┆     ┆ 郷****** ┆            ┆            ┆         │
│           ┆            ┆           ┆        ┆     ┆ ****     ┆            ┆            ┆         │
└───────────┴────────────┴───────────┴────────┴─────┴──────────┴────────────┴────────────┴─────────┘

In [810]:
df_receipt.select([
    'customer_id',
    'sales_ymd'
]).unique().join(df_customer, on = "customer_id", how = "inner").select(
    [
        pl.col("customer_id"),
        pl.col("sales_ymd"),
        pl.col("application_date"),
        (pl.col("sales_ymd").cast(str).str.strptime(pl.Date,"%Y%m%d") - pl.col("application_date").str.strptime(pl.Date,"%Y%m%d")).alias("daysElapsed"),        
    ]
).sort("customer_id").shape

(32411, 4)

## 071

In [ ]:
df_receipt.select([
    'customer_id',
    'sales_ymd'
]).unique().join(df_customer, on = "customer_id", how = "inner").select(
    [
        pl.col("customer_id"),
        pl.col("sales_ymd"),
        pl.col("application_date"),
        (pl.col("sales_ymd").cast(str).str.strptime(pl.Date,"%Y%m%d") - pl.col("application_date").str.strptime(pl.Date,"%Y%m%d")).alias("daysElapsed"),        
    ]
).sort("customer_id").shape

## 072